force-app/main/default/flows/Actualizar_Cuenta_Organizacion_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Id_Organizaci_n</name>
        <label>Asignar Id Organización</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Codigo_Organizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Id_Organizacion_de_Parametrica.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_cuenta</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Actualizar Cuenta Organizacion Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Cuenta Organizacion Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Id_Organizacion_de_Parametrica</name>
        <label>Obtener Id Organizacion de Parametrica</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Id_Organizaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organizacion_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organizacion__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_record_type_organizacion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica_2__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_record_type_organizacion</name>
        <label>Obtener record type organizacion</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Id_Organizacion_de_Parametrica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organizacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_cuenta</name>
        <label>Actualizar cuenta</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Codigo_Organizacion__c</field>
            <value>
                <elementReference>Obtener_Id_Organizacion_de_Parametrica.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_record_type_organizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organizacion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
