force-app/main/default/flows/Aviso_Visita_en_cuenta_aspiracional.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_alerta</name>
        <label>Enviar alerta</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Task.Tarea_Aviso_en_cuenta_aspiraciona</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Tarea_Aviso_en_cuenta_aspiraciona</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Clase_de_cuenta</name>
        <label>Clase de cuenta</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Aspiracional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clic_comercial__r.Clase_de_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aspiracional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visitas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>sruizt@ayesa.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_alerta</targetReference>
            </connector>
            <label>Aspiracional</label>
        </rules>
    </decisions>
    <description>Cuando se crea o se actualiza una visita con cuenta aspiracional</description>
    <environments>Default</environments>
    <interviewLabel>Aviso: Visita en cuenta aspiracional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aviso: Visita en cuenta aspiracional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clase_de_cuenta</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
