force-app/main/default/flows/Boton_Oportunidad_Correo_Preventa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Actualizamos_registro_de_equipo_preventa</name>
        <label>Actualizamos registro de equipo preventa</label>
        <locationX>138</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_oportunidad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Nombre_y_apellidos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_preinformados.Nombre_y_apellidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Mercantil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_preinformados.Mercantil_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Horas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_preinformados.Horas_estimadas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_preinformados.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignamos_el_registro_a_la_lista_actualizacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_columns_to_table_markup</name>
        <label>Add columns to table markup</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipo_Preventa_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tableRow_to_the_table_markup</name>
        <label>Add tableRow to the table markup</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipo_Preventa_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignamos_el_registro_a_la_lista</name>
        <label>Asignamos el registro a la lista</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Crear_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_agregados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignamos_el_registro_a_la_lista_actualizacion</name>
        <label>Asignamos el registro a la lista actualizacion</label>
        <locationX>138</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Actualizar_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_preinformados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignamos_el_registro_a_la_lista_actualizacion_eliminar</name>
        <label>Asignamos el registro a la lista actualizacion eliminar</label>
        <locationX>138</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>Eliminar_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>elementos_eliminados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>close_table</name>
        <label>close table</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ver_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creamos_registro_de_equipo_preventa</name>
        <label>Creamos registro de equipo preventa</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_oportunidad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Nombre_y_apellidos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_agregados.Nombre_y_apellidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Mercantil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_agregados.Mercantil_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Horas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elementos_agregados.Horas_estimadas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignamos_el_registro_a_la_lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eliminamos_registro_de_equipo_preventa</name>
        <label>Eliminamos registro de equipo preventa</label>
        <locationX>138</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>elementos_eliminados.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignamos_el_registro_a_la_lista_actualizacion_eliminar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Actualizamos_registro_de_equipo_preventa</name>
        <label>Objetivo Actualizamos registro de equipo preventa</label>
        <locationX>754</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Objetivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_objetivo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Nombre_y_apellidos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_de_Elementos_preinformados.Copia_1_de_Nombre_y_apellidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Mercantil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_de_Elementos_preinformados.Copia_1_de_Mercantil_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Horas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_de_Elementos_preinformados.Copia_1_de_Horas_estimadas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_de_Elementos_preinformados.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_Asignamos_el_registro_a_la_lista_actualizacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Add_columns_to_table_markup</name>
        <label>Objetivo Add columns to table markup</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_de_Equipo_Preventa_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Add_tableRow_to_the_table_markup</name>
        <label>Objetivo Add tableRow to the table markup</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRowObjetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_de_Equipo_Preventa_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Asignamos_el_registro_a_la_lista_actualizacion</name>
        <label>Objetivo Asignamos el registro a la lista actualizacion</label>
        <locationX>754</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>Actualizar_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_de_Elementos_preinformados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Asignamos_el_registro_a_la_lista_actualizacion_eliminar</name>
        <label>Objetivo Asignamos el registro a la lista actualizacion eliminar</label>
        <locationX>754</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Eliminar_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_elementos_eliminados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_close_table</name>
        <label>Objetivo close table</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>table</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_3_de_ver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Creamos_registro_de_equipo_preventa</name>
        <label>Objetivo Creamos registro de equipo preventa</label>
        <locationX>754</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Objetivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_objetivo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Nombre_y_apellidos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_Elementos_agregados.Copia_1_de_Nombre_y_apellidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Mercantil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_Elementos_agregados.Copia_1_de_Mercantil_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Horas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_Elementos_agregados.Copia_1_de_Horas_estimadas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_de_Asignamos_el_registro_a_la_lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_de_Asignamos_el_registro_a_la_lista</name>
        <label>Objetivo de Asignamos el registro a la lista</label>
        <locationX>754</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Crear_EquipoPreventa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRegistroEquipoPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_Elementos_agregados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objetivo_Eliminamos_registro_de_equipo_preventa</name>
        <label>Objetivo Eliminamos registro de equipo preventa</label>
        <locationX>754</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>newRegistroEquipoPreventa.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objetivo_elementos_eliminados.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivo_Asignamos_el_registro_a_la_lista_actualizacion_eliminar</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>S</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <decisions>
        <name>agregar</name>
        <label>agregar</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>rellenos_de_antes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>agregados_informados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Equipo_preventa_iterador.AddedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elementos_agregados</targetReference>
            </connector>
            <label>agregados informados</label>
        </rules>
    </decisions>
    <decisions>
        <name>eliminados</name>
        <label>eliminados</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>eliminados_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Equipo_preventa_iterador.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>elementos_eliminados</targetReference>
            </connector>
            <label>eliminados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Oportunidad</name>
        <label>Es Oportunidad</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Obtener_objetivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es oportunidad</defaultConnectorLabel>
        <rules>
            <name>Si_es_oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_equipo_preventa</targetReference>
            </connector>
            <label>Sí es oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_registros</name>
        <label>Hay registros</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_ver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Equipo_preventa_iterador.AllItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_columns_to_table_markup</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objetivo_de_agregar</name>
        <label>Objetivo de agregar</label>
        <locationX>798</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Objetivo_rellenos_de_antes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Objetivo_agregados_informados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copia_1_de_Equipo_preventa_iterador.AddedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Objetivo_Elementos_agregados</targetReference>
            </connector>
            <label>Objetivo agregados informados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objetivo_eliminados</name>
        <label>Objetivo eliminados</label>
        <locationX>798</locationX>
        <locationY>3338</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Objetivo_eliminadosv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copia_1_de_Equipo_preventa_iterador.RemovedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Objetivo_elementos_eliminados</targetReference>
            </connector>
            <label>Objetivo eliminados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objetivo_Hay_registros</name>
        <label>Objetivo Hay registros</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copia_1_Objetivo_de_ver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_v2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copia_1_de_Equipo_preventa_iterador.AllItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Objetivo_Add_columns_to_table_markup</targetReference>
            </connector>
            <label>Si v2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objetivo_rellenos_de_antes</name>
        <label>Objetivo rellenos de antes</label>
        <locationX>798</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Objetivo_eliminados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Objetivo_preinformados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copia_1_de_Equipo_preventa_iterador.PrepopulatedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Objetivo_de_Elementos_preinformados</targetReference>
            </connector>
            <label>Objetivo preinformados</label>
        </rules>
    </decisions>
    <decisions>
        <name>rellenos_de_antes</name>
        <label>rellenos de antes</label>
        <locationX>182</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>eliminados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>preinformados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Equipo_preventa_iterador.PrepopulatedItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elementos_preinformados</targetReference>
            </connector>
            <label>preinformados</label>
        </rules>
    </decisions>
    <description>Crear/modificar/eliminar equipo preventa</description>
    <dynamicChoiceSets>
        <name>Mercantil_valores</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mercantil__c</picklistField>
        <picklistObject>Equipo_Oferta__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sociedad_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sociedad_Ayesa__c</picklistField>
        <picklistObject>Oportunidad__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>cc_correo</name>
        <dataType>String</dataType>
        <expression>&quot;soporteoaci@ayesa.com&quot; +&quot;,&quot;+ {!Obtener_oportunidad.Owner:User.Email}+&quot;,&quot;+{!Obtener_oportunidad.Responsable_Preventa__r.Email}+&quot;,&quot;+{!Obtener_oportunidad.Responsable_linea_de_servicio__r.Email}</expression>
    </formulas>
    <formulas>
        <name>Destinatario_email</name>
        <dataType>String</dataType>
        <expression>{!Obtener_oportunidad.Director_de_Mercado__r.Email}  + &quot;,&quot; +&quot;aburgos@ayesa.com&quot;</expression>
    </formulas>
    <formulas>
        <name>tableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Equipo_Preventa_bucle.Nombre_y_apellidos} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Equipo_Preventa_bucle.Mercantil_picklist}+ 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Equipo_Preventa_bucle.Horas_estimadas}) +
&apos;&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRowObjetivo</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Objetivo_de_Equipo_Preventa_bucle.Copia_1_de_Nombre_y_apellidos} + 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + {!Objetivo_de_Equipo_Preventa_bucle.Copia_1_de_Mercantil_picklist}+ 
&apos;&lt;/th&gt;&lt;td style=&quot;border: 1px solid black;&quot;&gt;&apos; + TEXT({!Objetivo_de_Equipo_Preventa_bucle.Copia_1_de_Horas_estimadas}) +
&apos;&lt;/th&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Botón Oportunidad: Correo Preventa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Botón Oportunidad: Alta Equipo Preventa</label>
    <loops>
        <name>Elementos_agregados</name>
        <label>Elementos agregados</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <collectionReference>Equipo_preventa_iterador.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Creamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>elementos_eliminados</name>
        <label>elementos eliminados</label>
        <locationX>50</locationX>
        <locationY>3338</locationY>
        <collectionReference>Equipo_preventa_iterador.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Eliminamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Eliminar_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Elementos_preinformados</name>
        <label>Elementos preinformados</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <collectionReference>Equipo_preventa_iterador.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Equipo_Preventa_bucle</name>
        <label>Equipo Preventa bucle</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Equipo_preventa_iterador.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Picklist_Value_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>close_table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Objetivo_de_Elementos_preinformados</name>
        <label>Objetivo de Elementos preinformados</label>
        <locationX>666</locationX>
        <locationY>2738</locationY>
        <collectionReference>Copia_1_de_Equipo_preventa_iterador.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Objetivo_Actualizamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Objetivo_Actualizar_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Objetivo_de_Equipo_Preventa_bucle</name>
        <label>Objetivo de Equipo Preventa bucle</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <collectionReference>Copia_1_de_Equipo_preventa_iterador.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Objetivo_Picklist_Value_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Objetivo_close_table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Objetivo_Elementos_agregados</name>
        <label>Objetivo Elementos agregados</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <collectionReference>Copia_1_de_Equipo_preventa_iterador.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Objetivo_Creamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Objetivo_de_Crear_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Objetivo_elementos_eliminados</name>
        <label>Objetivo elementos eliminados</label>
        <locationX>666</locationX>
        <locationY>3446</locationY>
        <collectionReference>Copia_1_de_Equipo_preventa_iterador.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Objetivo_Eliminamos_registro_de_equipo_preventa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Objetivo_Eliminar_equipo_preventa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_equipo_preventa</name>
        <label>Crear equipo preventa</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>rellenos_de_antes</targetReference>
        </connector>
        <inputReference>Crear_EquipoPreventa</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Objetivo_de_Crear_equipo_preventa</name>
        <label>Objetivo de Crear equipo preventa</label>
        <locationX>666</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Objetivo_rellenos_de_antes</targetReference>
        </connector>
        <inputReference>Crear_EquipoPreventa</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Eliminar_equipo_preventa</name>
        <label>Eliminar equipo preventa</label>
        <locationX>50</locationX>
        <locationY>3746</locationY>
        <inputReference>Eliminar_EquipoPreventa</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Objetivo_Eliminar_equipo_preventa</name>
        <label>Objetivo Eliminar equipo preventa</label>
        <locationX>666</locationX>
        <locationY>3854</locationY>
        <inputReference>Eliminar_EquipoPreventa</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>EntityDefinition</name>
        <label>EntityDefinition</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Field_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipo_preventa__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Field_Definition</name>
        <label>Field Definition</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mensaje_preventa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityDefinition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mercantil__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Objetivo_EntityDefinition</name>
        <label>Objetivo EntityDefinition</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Objetivo_Field_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipo_preventa__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Objetivo_Field_Definition</name>
        <label>Objetivo Field Definition</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Objetivo_Mensaje_preventa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EntityDefinition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mercantil__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Objetivo_Picklist_Value_Info</name>
        <label>Objetivo Picklist Value Info</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Objetivo_Add_tableRow_to_the_table_markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Equipo_Preventa_bucle.Mercantil_picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_equipo_preventa</name>
        <label>Obtener equipo preventa</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EntityDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_oportunidad.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Equipo_Oferta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_equipo_preventa_objetivo</name>
        <label>Obtener equipo preventa objetivo</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Objetivo_EntityDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objetivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_objetivo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Equipo_Oferta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_objetivo</name>
        <label>Obtener objetivo</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_equipo_preventa_objetivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Picklist_Value_Info</name>
        <label>Picklist Value Info</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_tableRow_to_the_table_markup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Field_Definition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Equipo_Preventa_bucle.Mercantil_picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_equipo_preventa</name>
        <label>Actualizar equipo preventa</label>
        <locationX>50</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>eliminados</targetReference>
        </connector>
        <inputReference>Actualizar_EquipoPreventa</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Objetivo</name>
        <label>Actualizar Objetivo</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Objetivo_de_agregar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_objetivo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Equipo_Oferta__c</field>
            <value>
                <elementReference>table</elementReference>
            </value>
        </inputAssignments>
        <object>Objetivo__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_objetivo_sin_equipo_oferta</name>
        <label>Actualizar objetivo sin equipo oferta</label>
        <locationX>930</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Objetivo_de_agregar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_objetivo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Equipo_Oferta__c</field>
        </inputAssignments>
        <object>Objetivo__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_oportunidad</name>
        <label>Actualizar oportunidad</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>agregar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Preventa__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipo_Oferta__c</field>
            <value>
                <elementReference>table</elementReference>
            </value>
        </inputAssignments>
        <object>Oportunidad__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_oportunidad_sin_equipo_oferta</name>
        <label>Actualizar oportunidad sin equipo oferta</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>agregar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Preventa__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipo_Oferta__c</field>
        </inputAssignments>
        <object>Oportunidad__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Objetivo_Actualizar_equipo_preventa</name>
        <label>Objetivo Actualizar equipo preventa</label>
        <locationX>666</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Objetivo_eliminados</targetReference>
        </connector>
        <inputReference>Actualizar_EquipoPreventa</inputReference>
    </recordUpdates>
    <screens>
        <name>Copia_1_Objetivo_de_ver</name>
        <label>Copia 1 Objetivo de ver</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_objetivo_sin_equipo_oferta</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Copia_1_de_Visualizar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No se va a incluir información en Equipo Oferta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copia_2_de_ver</name>
        <label>Copia 2 de ver</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_oportunidad_sin_equipo_oferta</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Visualizar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No se va a incluir información en Equipo Oferta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mensaje_preventa</name>
        <label>Mensaje preventa</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hay_registros</targetReference>
        </connector>
        <fields>
            <name>Equipo_preventa</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Añadir equipo preventa&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Equipo_preventa_iterador</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Nombre_y_apellidos</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa[$EachItem].Nombre_y_apellidos__c</elementReference>
                </defaultValue>
                <fieldText>Nombre y apellidos</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Mercantil_picklist</name>
                <choiceReferences>Mercantil_valores</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa[$EachItem].Mercantil__c</elementReference>
                </defaultValue>
                <fieldText>Mercantil</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Horas_estimadas</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa[$EachItem].Horas__c</elementReference>
                </defaultValue>
                <fieldText>Horas estimadas</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Obtener_equipo_preventa</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Objetivo_3_de_ver</name>
        <label>Objetivo 3 de ver</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Objetivo</targetReference>
        </connector>
        <fields>
            <name>Copia_2_de_Visualizar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Esta información se incluirá en la solicitud de aprobación preliminar.  &lt;/strong&gt;&lt;strong&gt;Si la información es correcta pulsar &apos;Guardar&apos;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copia_1_de_ver</name>
            <fieldText>&lt;p&gt;{!Template_Preventa_con_Equipo_Objetivo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Objetivo_Mensaje_preventa</name>
        <label>Objetivo Mensaje preventa</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Objetivo_Hay_registros</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_Equipo_preventa</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Añadir equipo preventa&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copia_1_de_Equipo_preventa_iterador</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Copia_1_de_Nombre_y_apellidos</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa_objetivo[$EachItem].Nombre_y_apellidos__c</elementReference>
                </defaultValue>
                <fieldText>Nombre y apellidos</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Copia_1_de_Mercantil_picklist</name>
                <choiceReferences>Mercantil_valores</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa_objetivo[$EachItem].Mercantil__c</elementReference>
                </defaultValue>
                <fieldText>Mercantil</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Copia_1_de_Horas_estimadas</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Obtener_equipo_preventa_objetivo[$EachItem].Horas__c</elementReference>
                </defaultValue>
                <fieldText>Horas estimadas</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Obtener_equipo_preventa_objetivo</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ver_2</name>
        <label>ver</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_oportunidad</targetReference>
        </connector>
        <fields>
            <name>Visualizar</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Esta información se incluirá en la solicitud de aprobación preliminar.  &lt;/strong&gt;&lt;strong&gt;Si la información es correcta pulsar &apos;Guardar&apos;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ver</name>
            <fieldText>&lt;p&gt;{!Template_Preventa_con_Equipo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Plantillamensaje</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!table}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Preventa_con_Equipo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Información sobre el equipo preventa de la oportunidad &lt;a href=&quot;https://ayesaoaci.lightning.force.com/lightning/r/Oportunidad__c/{!Obtener_oportunidad.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Obtener_oportunidad.Codigo_OC__c} - {!Obtener_oportunidad.Name}:&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!table}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Preventa_con_Equipo_Objetivo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Información sobre el equipo preventa del objetivo {!Obtener_objetivo.Codigo_Objetivo__c} - {!Obtener_objetivo.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!table}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Preventa_sin_Equipo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Estimados,&lt;/p&gt;&lt;p&gt;Información sobre la preventa de la oportunidad &lt;a href=&quot;https://ayesaoaci.lightning.force.com/lightning/r/Oportunidad__c/{!Obtener_oportunidad.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Obtener_oportunidad.Codigo_OC__c} - {!Obtener_oportunidad.Name}:&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Actualizar_EquipoPreventa</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipo_Oferta__c</objectType>
    </variables>
    <variables>
        <name>Crear_EquipoPreventa</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Equipo_Oferta__c</objectType>
    </variables>
    <variables>
        <name>Eliminar_EquipoPreventa</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipo_Oferta__c</objectType>
    </variables>
    <variables>
        <name>newRegistroEquipoPreventa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipo_Oferta__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style =&quot;width:100%;&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Nombre y apellidos&lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Mercantil&lt;/th&gt;  &lt;th style=&quot;border: 1px solid black;&quot;&gt;Horas estimadas&lt;/th&gt;  &lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
