force-app/main/default/flows/Codigo_Oferta_SAP_Ingenieria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envio_Correo_Soporte_Ofertas</name>
        <label>Envio Correo Soporte Ofertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Codigo_oferta_SAP_Ingenieria</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Correo_Enviado_Si</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>idOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Codigo_oferta_SAP_Ingenieria</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Oferta SAP Ingenieria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Código Oferta SAP Ingeniería</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Correo_Enviado_Si</name>
        <label>Correo Enviado = Si</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Correo_Oferta_enviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envio_Correo_Soporte_Ofertas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
