force-app/main/default/flows/Departamento_Oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Actualizar_Departamento_RO</name>
        <label>Actualizar Departamento RO</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No actualizar</defaultConnectorLabel>
        <rules>
            <name>Actualizar</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Departamento_RO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Departamento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Departamento__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Departamento</targetReference>
            </connector>
            <label>Actualizar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Departamento Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Departamento Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Departamento</name>
        <label>Departamento</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Departamento_RO__c</field>
            <value>
                <elementReference>$Record.Departamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualizar_Departamento_RO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sociedad_Ayesa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0151 - BYRNELOOBY</stringValue>
            </value>
        </filters>
        <object>Oportunidad__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>650</triggerOrder>
</Flow>
