force-app/main/default/flows/Flujo_Actualizar_Datos_Economicos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Se lanza cuando se actualizan los datos económicos del Proyecto para guardar el Avance Total en un campo físico.</description>
    <interviewLabel>Flujo Actualizar Datos Económicos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Actualizar Datos Económicos</label>
    <loops>
        <name>Bucle_GE</name>
        <label>Bucle GE</label>
        <locationX>138</locationX>
        <locationY>199</locationY>
        <assignNextValueToReference>IdLoop</assignNextValueToReference>
        <collectionReference>GrupoEntregable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_GE</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Grupo_Entregable</name>
        <label>Grupo Entregable</label>
        <locationX>427</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_GE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdProyecto</elementReference>
            </value>
        </filters>
        <object>Entregable__c</object>
        <outputReference>GrupoEntregable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Avance_Producci_n__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_GE</name>
        <label>Actualizar GE</label>
        <locationX>132</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Bucle_GE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Avance_Total_Mes__c</field>
            <value>
                <elementReference>IdLoop.AvanceTotal__c</elementReference>
            </value>
        </inputAssignments>
        <object>Entregable__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Grupo_Entregable</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>GrupoEntregable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entregable__c</objectType>
    </variables>
    <variables>
        <name>IdLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entregable__c</objectType>
    </variables>
    <variables>
        <name>IdProyecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
