force-app/main/default/flows/Gestion_Duplicados_Cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GestionDuplicados_Contactos</name>
        <label>GestionDuplicados Contactos</label>
        <locationX>743</locationX>
        <locationY>1274</locationY>
        <actionName>GestionDuplicados</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fin_fusion</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idConservar</name>
            <value>
                <elementReference>Obtener_contacto_definitivo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idDuplicado</name>
            <value>
                <elementReference>Obtener_contacto_duplicado.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objeto</name>
            <value>
                <elementReference>origen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GestionDuplicados</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errores_fusion</assignToReference>
            <name>errores</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>exito</assignToReference>
            <name>exito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mensaje_fusion</assignToReference>
            <name>mensaje</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GestionDuplicados_Cuentas</name>
        <label>GestionDuplicados Cuentas</label>
        <locationX>479</locationX>
        <locationY>1274</locationY>
        <actionName>GestionDuplicados</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fin_fusion</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idConservar</name>
            <value>
                <elementReference>Obtener_cuenta_definitiva.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idDuplicado</name>
            <value>
                <elementReference>Obtener_cuenta_duplicada.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objeto</name>
            <value>
                <elementReference>origen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GestionDuplicados</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>errores_fusion</assignToReference>
            <name>errores</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>exito</assignToReference>
            <name>exito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>mensaje_fusion</assignToReference>
            <name>mensaje</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Opcion_No</name>
        <choiceText>No, deseo conservar el registro duplicado</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Opcion_Si</name>
        <choiceText>Sí, eliminar el registro duplicado</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Copia_1_de_Cuenta_o_contacto</name>
        <label>¿Cuenta o contacto?</label>
        <locationX>198</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Obtener_contacto_definitivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>son contactos</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_son_cuentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_cuenta_definitiva</targetReference>
            </connector>
            <label>son cuentas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_2_de_Cuenta_o_contacto</name>
        <label>¿Cuenta o contacto?</label>
        <locationX>611</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>GestionDuplicados_Contactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>son contactos</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_son_cuentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GestionDuplicados_Cuentas</targetReference>
            </connector>
            <label>son cuentas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_3_de_Cuenta_o_contacto</name>
        <label>¿Cuenta o contacto?</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Eliminar_contacto_duplicado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>contacto</defaultConnectorLabel>
        <rules>
            <name>Copia_3_de_son_cuentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_cuenta_duplicada</targetReference>
            </connector>
            <label>cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cuenta_o_contacto</name>
        <label>¿Cuenta o contacto?</label>
        <locationX>198</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ContactosListado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>son contactos</defaultConnectorLabel>
        <rules>
            <name>son_cuentas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>origen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CuentasListado</targetReference>
            </connector>
            <label>son cuentas</label>
        </rules>
    </decisions>
    <decisions>
        <name>exito_fusion</name>
        <label>¿exito fusión?</label>
        <locationX>611</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>No, con errores</defaultConnectorLabel>
        <rules>
            <name>Si_sin_errores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quiere_eliminar_el_registro_duplicado</targetReference>
            </connector>
            <label>Sí, sin errores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quiere_eliminar_el_registro_duplicado</name>
        <label>¿Quiere eliminar el registro duplicado?</label>
        <locationX>380</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desea_eliminar_el_registro_duplicado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opcion_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_3_de_Cuenta_o_contacto</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Son_el_mismo_registro</name>
        <label>¿Son el mismo registro?</label>
        <locationX>198</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Mostrar_Resumen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Son diferentes registros</defaultConnectorLabel>
        <rules>
            <name>Si_son_el_mismo</name>
            <conditionLogic>(3 AND 1) OR (NOT 3 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_cuenta_definitiva.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_cuenta_duplicada.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_contacto_definitivo.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_contacto_duplicado.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>origen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Gestion_de_Cuentas_Duplicadas</targetReference>
            </connector>
            <label>Si son el mismo</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactoDefinitivoNombre</name>
        <collectionReference>ContactosListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactoDuplicadoName</name>
        <collectionReference>ContactosListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CuentaDefinitivaCodcuenta</name>
        <collectionReference>CuentasListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Codigo__c</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CuentaDefinitivaName</name>
        <collectionReference>CuentasListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CuentaDuplicadaCodcuenta</name>
        <collectionReference>CuentasListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Codigo__c</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CuentaDuplicadaName</name>
        <collectionReference>CuentasListado</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Gestion Duplicados Cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Gestion Duplicados Cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Eliminar_contacto_duplicado</name>
        <label>Eliminar contacto duplicado</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_contacto_duplicado.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordDeletes>
    <recordDeletes>
        <name>Eliminar_cuenta_duplicada</name>
        <label>Eliminar cuenta duplicada</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_cuenta_duplicada.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <name>ContactosListado</name>
        <label>ContactosListado</label>
        <locationX>330</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gestion_de_Cuentas_Duplicadas</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>20000.0</numberValue>
        </limit>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CuentasListado</name>
        <label>CuentasListado</label>
        <locationX>66</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gestion_de_Cuentas_Duplicadas</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>20000.0</numberValue>
        </limit>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_contacto_definitivo</name>
        <label>Obtener contacto definitivo</label>
        <locationX>330</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_contacto_duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Contacto_Definitivo.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_contacto_duplicado</name>
        <label>Obtener contacto duplicado</label>
        <locationX>330</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Son_el_mismo_registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Contacto_Duplicado.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cuenta_definitiva</name>
        <label>Obtener cuenta definitiva</label>
        <locationX>66</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_cuenta_duplicada</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Cuenta_Definitiva.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cuenta_duplicada</name>
        <label>Obtener cuenta duplicada</label>
        <locationX>66</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Son_el_mismo_registro</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Cuenta_Duplicada.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fin_fusion</name>
        <label>Fin fusion</label>
        <locationX>611</locationX>
        <locationY>1466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>exito_fusion</targetReference>
        </connector>
        <fields>
            <name>Titulo_Fin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;   &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Resultado final&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;      &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>mensaje_fin</name>
            <fieldText>&lt;p&gt;Resultado final:&lt;/p&gt;&lt;p&gt; {!mensaje_fusion}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Desea_eliminar_el_registro_duplicado</name>
            <choiceReferences>Opcion_Si</choiceReferences>
            <choiceReferences>Opcion_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Desea eliminar el registro duplicado?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exito</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gestion_de_Cuentas_Duplicadas</name>
        <label>Gestión de Cuentas Duplicadas</label>
        <locationX>198</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copia_1_de_Cuenta_o_contacto</targetReference>
        </connector>
        <fields>
            <name>Gestion_de_Cuentas_Duplicadas_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gestion_de_Cuentas_Duplicadas_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Titulo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Gestión de cuentas duplicadas&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Buscar_Cuenta_Definitiva</name>
                    <choiceReferences>CuentaDefinitivaName</choiceReferences>
                    <choiceReferences>CuentaDefinitivaCodcuenta</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Buscar Cuenta Definitiva</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Nombre o código de la cuenta</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Buscar_Cuenta_Duplicada</name>
                    <choiceReferences>CuentaDuplicadaName</choiceReferences>
                    <choiceReferences>CuentaDuplicadaCodcuenta</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Buscar Cuenta Duplicada</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Nombre o código de la cuenta</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Advertencia</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Debe introducir cuentas diferentes.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Si_son_el_mismo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>origen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Account</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gestion_de_Cuentas_Duplicadas_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gestion_de_Cuentas_Duplicadas_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Titulo_C</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Gestión de contactos duplicados&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Buscar_Contacto_Definitivo</name>
                    <choiceReferences>ContactoDefinitivoNombre</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Buscar Contacto Definitivo</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Nombre del contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Buscar_Contacto_Duplicado</name>
                    <choiceReferences>ContactoDuplicadoName</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Buscar Contacto Duplicado</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Nombre del contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Advertencia_C</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Debe introducir contactos diferentes.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Si_son_el_mismo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>origen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contact</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Mostrar Resumen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mostrar_Resumen</name>
        <label>Mostrar Resumen</label>
        <locationX>611</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copia_2_de_Cuenta_o_contacto</targetReference>
        </connector>
        <fields>
            <name>Titulo2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Resumen previo&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;   &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mostrar_Resumen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mostrar_Resumen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resumen</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Estás a punto de fusionar los siguientes registros:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Registro a conservar&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Nombre:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;/{!Obtener_cuenta_definitiva.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-size: 14px;&quot;&gt;{!Obtener_cuenta_definitiva.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Código de cuenta: {!Obtener_cuenta_definitiva.Codigo__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;CIF/NIF: {!Obtener_cuenta_definitiva.CIF_NIF__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Registro duplicado&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Nombre:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;/{!Obtener_cuenta_duplicada.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Obtener_cuenta_duplicada.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Código de cuenta: {!Obtener_cuenta_duplicada.Codigo__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;CIF/NIF: {!Obtener_cuenta_duplicada.CIF_NIF__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Se fusionarán todos los campos vacíos del registro a conservar con los datos del registro duplicado. Además, todos los relacionados (como oportunidades, contactos...) se moverán al registro a conservar.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>origen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Account</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mostrar_Resumen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mostrar_Resumen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resumen_C</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Estás a punto de fusionar los siguientes registros:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Registro a conservar&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Nombre: &lt;/span&gt;&lt;a href=&quot;/{!Obtener_contacto_definitivo.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-size: 14px;&quot;&gt;{!Obtener_contacto_definitivo.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Nombre de la cuenta: &lt;/span&gt;&lt;a href=&quot;/{!Obtener_contacto_definitivo.Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Obtener_contacto_definitivo.Account.Name}&lt;/a&gt;&lt;span style=&quot;color: rgb(1, 118, 211); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Teléfono: {!Obtener_contacto_definitivo.Phone}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Correo electrónico: {!Obtener_contacto_definitivo.Email}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Registro duplicado&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Nombre:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;/{!Obtener_contacto_duplicado.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Obtener_contacto_duplicado.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Nombre de la cuenta: &lt;/span&gt;&lt;a href=&quot;/{!Obtener_contacto_duplicado.AccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Obtener_contacto_duplicado.Account.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Teléfono: {!Obtener_contacto_duplicado.Phone}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Correo electrónico: {!Obtener_contacto_duplicado.Email}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Se fusionarán todos los campos vacíos del registro a conservar con los datos del registro duplicado. Además, todos los relacionados (como oportunidades, cuentas...) se moverán al registro a conservar.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>origen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contact</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Fusionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cuenta_o_contacto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errores_fusion</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>exito</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mensaje_fusion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>origen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
