force-app/main/default/flows/Notificar_Apoyo_Soporte_Ofertas_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envio_Correo_Notificar_Apoyo_Soporte_Ofertas</name>
        <label>Envio Correo Notificar Apoyo Soporte Ofertas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Notificar_Apoyo_Soporte_Ofertas_Alerta</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Guardar_fecha_solicitud</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Notificar_Apoyo_Soporte_Ofertas_Alerta</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cuenta_Archivos_GO</name>
        <label>Cuenta Archivos GO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cuentaArchivosGO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Archivos_GO_Oferta</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copia_1_de_Debe_tener_archivo_adjunto</name>
        <label>Debe tener archivo Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Para poder avanzar a Presentada, es necesario que esté subido algún fichero de tipo Oferta en Power Alejandría.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copia_2_de_Debe_tener_archivo_adjunto</name>
        <label>Debe tener archivo Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Para solicitar el Apoyo de Soporte a Ofertas, es necesario que esté subido algún fichero de tipo Oferta en Power Alejandría.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Debe_tener_archivo_adjunto</name>
        <label>Debe tener archivo adjunto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Para solicitar el Apoyo de Soporte a Ofertas, debe adjuntar algún documento en la pestaña Power Alejandría.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Debe_tener_archivo_GO</name>
        <label>Debe tener archivo GO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Como importe se ha modificado una vez aprobada la oferta, es obligatorio subir un archivo de tipo &quot;GO Oferta&quot; en Power Alejandría.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Debe_tener_archivo_GO_Oferta</name>
        <label>Debe tener archivo GO Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Como la aprobación se ha registrado después de la fecha de presentación de la oferta, es obligatorio subir un archivo de tipo &quot;GO Oferta&quot; en Power Alejandría.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Copia_1_de_Tiene_archivo</name>
        <label>¿Tiene archivo Tipo Oferta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Debe_tener_archivo_adjunto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Archivosdeoportunidad_TipoOferta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Tiene_archivo_Tipo_Oferta</name>
        <label>¿Tiene archivo Tipo Oferta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_Debe_tener_archivo_adjunto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copia_1_de_Archivos_de_oportunidad_Tipo_Oferta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Correo_Notificar_Apoyo_Soporte_Ofertas</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entradas</name>
        <label>Entradas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Necesita_Apoyo_cambia_a_si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apoyo_de_Soporte_a_Ofertas__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apoyo_de_Soporte_a_Ofertas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etapa</targetReference>
            </connector>
            <label>Necesita Apoyo cambia a sí</label>
        </rules>
        <rules>
            <name>Apoyo_si_y_avanza_a_Presentada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apoyo_de_Soporte_a_Ofertas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apoyo_de_Soporte_a_Ofertas__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archivosdeoportunidad_TipoOferta</targetReference>
            </connector>
            <label>Apoyo = sí y avanza a Presentada</label>
        </rules>
        <rules>
            <name>Go_Posterior_a_Presentacion_Oferta_es_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_Presentaci_n_Oferta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_Presentaci_n_Oferta__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archivos_de_oportunidad_Tipo_GO_Oferta</targetReference>
            </connector>
            <label>¿Go Posterior a Presentación Oferta? es true</label>
        </rules>
        <rules>
            <name>Importe_se_modifica_despues_de_la_aprobacion_de_oferta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_total_sin_IVA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_Presentaci_n_Oferta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archivos_de_oportunidad_GO_oferta</targetReference>
            </connector>
            <label>Importe se modifica después de la aprobación de oferta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Etapa</name>
        <label>¿Etapa?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Archivos_de_oportunidad_Tipo_Oferta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Presentada</defaultConnectorLabel>
        <rules>
            <name>Cualificacion_Oferta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archivosdeoportunidad</targetReference>
            </connector>
            <label>Cualificación/Oferta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_archivo</name>
        <label>¿Tiene archivo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Debe_tener_archivo_adjunto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Archivosdeoportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Correo_Notificar_Apoyo_Soporte_Ofertas</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_archivo_Go_Oferta</name>
        <label>¿Tiene archivo Go Oferta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Debe_tener_archivo_GO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>X1_sin_go_posterior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cuentaArchivosGO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_Presentaci_n_Oferta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>1 sin go posterior</label>
        </rules>
        <rules>
            <name>X2_go_posterior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cuentaArchivosGO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Go_Presentaci_n_Oferta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <label>2 + go posterior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_archivo_Tipo_GO_Oferta</name>
        <label>¿Tiene archivo Tipo GO Oferta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Debe_tener_archivo_GO_Oferta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Archivos_de_oportunidad_Tipo_GO_Oferta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Alerta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apoyo Soporte Ofertas Flow</label>
    <loops>
        <name>Archivos_GO_Oferta</name>
        <label>Archivos GO Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Archivos_de_oportunidad_GO_oferta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cuenta_Archivos_GO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tiene_archivo_Go_Oferta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Archivos_de_oportunidad_GO_oferta</name>
        <label>Archivos de oportunidad - GO oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Archivos_GO_Oferta</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GO Oferta/GO Offer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivos_de_Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Archivos_de_oportunidad_Tipo_GO_Oferta</name>
        <label>Archivos de oportunidad - Tipo GO Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_archivo_Tipo_GO_Oferta</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GO Oferta/GO Offer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivos_de_Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Archivosdeoportunidad</name>
        <label>Archivos de oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_archivo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivos_de_Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Archivosdeoportunidad_TipoOferta</name>
        <label>Archivos de oportunidad - Tipo Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Tiene_archivo</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aceptación de oferta/Acceptance of offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acuerdo/Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adjudicación/Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato/Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ficha de oferta/Offer sheet </stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oferta económica/Economical offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oferta técnica/Technical offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ofertas Vinculantes/Proveedores Offers associated Suppliers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivos_de_Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copia_1_de_Archivos_de_oportunidad_Tipo_Oferta</name>
        <label>Archivos de oportunidad - Tipo Oferta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Tiene_archivo_Tipo_Oferta</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aceptación de oferta/Acceptance of offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acuerdo/Agreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adjudicación/Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato/Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ficha de oferta/Offer sheet </stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oferta económica/Economical offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oferta técnica/Technical offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Archivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ofertas Vinculantes/Proveedores Offers associated Suppliers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Archivos_de_Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Guardar_fecha_solicitud</name>
        <label>Guardar fecha solicitud</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Fecha_de_solicitud_de_soporte__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entradas</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (2 AND 4 AND 5) OR (6 AND 9) OR (7 AND 8)) AND 3</filterLogic>
        <filters>
            <field>Apoyo_de_Soporte_a_Ofertas__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Apoyo_de_Soporte_a_Ofertas__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sí</stringValue>
            </value>
        </filters>
        <filters>
            <field>Direccion_Operaciones__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ENGINEERING</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Go_Presentaci_n_Oferta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sí</stringValue>
            </value>
        </filters>
        <filters>
            <field>Importe_total_sin_IVA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Go_Presentaci_n_Oferta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cuentaArchivosGO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
