force-app/main/default/flows/Notificaci_n_Personalizada_en_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Env_o_Notificaci_n_Publicaci_n</name>
        <label>Envío Notificación Publicación</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notificaci_n_publicaci_n_pregunta_Chatter.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AsuntoNotificacionPublicacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CuerpoNotificacionPublicacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Env_o_Notificacion_Question</name>
        <label>Envío Notificacion Question</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notificaci_n_publicaci_n_pregunta_Chatter.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AsuntoQuestion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CuerpoPregunta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asigna_Miembros</name>
        <label>Asigna Miembros</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_cada_miembro.Member.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_cada_miembro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eliminacion_Creador</name>
        <label>Eliminación Creador</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>varRecipientIDs</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>publicacion_o_pregunta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>publicacion_o_pregunta</name>
        <label>publicacion o pregunta?</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>respuesta</defaultConnectorLabel>
        <rules>
            <name>publicacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TextPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Env_o_Notificaci_n_Publicaci_n</targetReference>
            </connector>
            <label>publicacion</label>
        </rules>
        <rules>
            <name>pregunta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuestionPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Env_o_Notificacion_Question</targetReference>
            </connector>
            <label>pregunta</label>
        </rules>
    </decisions>
    <description>Flujo que envía una notificación personalizada a todos los miembros del grupo cada vez que hay una publicación/pregunta</description>
    <environments>Default</environments>
    <interviewLabel>Notificación Personalizada en Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificación Personalizada en Chatter</label>
    <loops>
        <name>Para_cada_miembro</name>
        <label>Para cada miembro</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <collectionReference>Obtiene_Miembros_del_grupo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asigna_Miembros</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Eliminacion_Creador</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Grupo_Commercial_Chat</name>
        <label>Grupo Commercial Chat</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_Miembros_del_grupo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Chat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Notificaci_n_publicaci_n_pregunta_Chatter</name>
        <label>Notificación publicación/pregunta Chatter</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Para_cada_miembro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva_publicacin_en_grupo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Miembros_del_grupo</name>
        <label>Obtiene Miembros del grupo</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notificaci_n_publicaci_n_pregunta_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Grupo_Commercial_Chat.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grupo_Commercial_Chat</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuestionPost</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AsuntoNotificacionPublicacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nueva publicación</text>
    </textTemplates>
    <textTemplates>
        <name>AsuntoQuestion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nueva pregunta</text>
    </textTemplates>
    <textTemplates>
        <name>AsuntoRespuesta</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Han respondido a una publicación/pregunta&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoNotificacionPublicacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hay una nueva publicación en el grupo {!$Record.Parent:CollaborationGroup.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoPregunta</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hay una nueva pregunta en el grupo {!$Record.Parent:CollaborationGroup.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CuerpoRespuesta</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Han respondido a una publicación/pregunta en el grupo {!$Record.Parent:CollaborationGroup.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
