force-app/main/default/flows/Objetivo_Aprobacion_Equipo_Preventa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envio_aprobacion_propietario</name>
        <label>Envio aprobacion propietario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Equipo_Preventa_Objetivo</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Comprobaci_n_propietario</name>
        <label>Comprobación propietario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Registros_parametrica.Mercado_lookup__r.Responsable__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Recuperar_Registros_parametrica.Mercado_lookup__r.Responsable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_tarea_de_aprobacion</targetReference>
            </connector>
            <label>Informado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Objetivo: Aprobación Equipo Preventa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Objetivo: Aprobación Equipo Preventa</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_de_aprobacion</name>
        <label>Crear tarea de aprobación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envio_aprobacion_propietario</targetReference>
        </connector>
        <inputAssignments>
            <field>C_digo_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Codigo_Objetivo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta_lookup__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipo_Oferta_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Equipo_Oferta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GIN_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.GIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación Equipo Preventa DM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Recuperar_Registros_parametrica.Mercado_lookup__r.Responsable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector_de_Mercado_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Orgcomercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Aprobación Preventa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Negocio_Objetivo__c</field>
            <value>
                <elementReference>Objetivo_Desencadenador.Tipo_de_Negocio__c</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Objetivo_Desencadenador</name>
        <label>Objetivo Desencadenador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_record_type_estructura_org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_objetivo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Objetivo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</name>
        <label>Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Envio_aprobacion_propietario.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_record_type_estructura_org</name>
        <label>Obtener record type estructura org</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Registros_parametrica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estructura Organizativa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Registros_parametrica</name>
        <label>Recuperar Registros parametrica</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobaci_n_propietario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>División</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Objetivo_Desencadenador.Orgcomercial__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Id_aprobaci_n</name>
        <label>Actualizar Id aprobación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Objetivo_Desencadenador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_objetivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
