force-app/main/default/flows/Objetivo_Modificaci_n_L_nea_Servicios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Correo_Responsable_Linea_Servicio</name>
        <label>Correo Responsable Linea Servicio</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Eliminaci_n_Responsable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Remitente.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Asunto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Cuerpo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Multipicklist</name>
        <label>Multipicklist</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>DividirPicklist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Para_Cada_Picklist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>multipicklistOldValue</name>
            <value>
                <elementReference>$Record__Prior.Linea_de_Servicio__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>multipicklistValue</name>
            <value>
                <elementReference>$Record.Linea_de_Servicio__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DividirPicklist</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Destinatario</name>
        <label>Destinatario</label>
        <locationX>666</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parametrica.Responsable__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correo_Responsable_Linea_Servicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Destinatario_AI_Digital_Experience</name>
        <label>Destinatario AI &amp; Digital Experience</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Parametrica_AI_Digital_Experience.Responsable__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correo_Responsable_Linea_Servicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eliminaci_n_Responsable</name>
        <label>Eliminación Responsable</label>
        <locationX>534</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <stringValue>{!Parametrica.Responsable__r.Email}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Parametrica_AI_Digital_Experience.Responsable__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_Cada_Picklist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copia_1_de_Responsable_Vac_o</name>
        <label>Copia 1 de Responsable Vacío</label>
        <locationX>798</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Para_Cada_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Existe_Responsable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Parametrica.Responsable__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parametrica.Responsable__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destinatario</targetReference>
            </connector>
            <label>Copia 1 de Existe Responsable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Data_AI</name>
        <label>Decisión Data &amp; AI</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Parametrica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Data_AI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Para_Cada_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data &amp; AI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parametrica_AI_Digital_Experience</targetReference>
            </connector>
            <label>Data &amp; AI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Responsable_Vac_o</name>
        <label>Responsable Vacío</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Para_Cada_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Existe_Responsable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Parametrica_AI_Digital_Experience.Responsable__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parametrica_AI_Digital_Experience.Responsable__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destinatario_AI_Digital_Experience</targetReference>
            </connector>
            <label>Existe Responsable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vigencia</name>
        <label>Vigencia</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Asignado_Vigente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Linea_de_Servicio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Linea_de_Servicio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Linea_de_Servicio__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remitente</targetReference>
            </connector>
            <label>Asignado Vigente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Objetivo Modificación Línea Servicio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Objetivo: Modificación Línea Servicios</label>
    <loops>
        <name>Para_Cada_Picklist</name>
        <label>Para Cada Picklist</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Multipicklist.valoresPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Data_AI</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Modificador</name>
        <label>Modificador</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Multipicklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parametrica</name>
        <label>Parametrica</label>
        <locationX>798</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Responsable_Vac_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Para_Cada_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Línea de Sevicios</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parametrica_AI_Digital_Experience</name>
        <label>Paramétrica AI &amp; Digital Experience</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Responsable_Vac_o</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AI &amp; Digital Experience</stringValue>
            </value>
        </filters>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Línea de Sevicios</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Remitente</name>
        <label>Remitente</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modificador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>soporteoaci@ayesa.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vigencia</targetReference>
        </connector>
        <object>Objetivo__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Asunto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Se ha modificado la línea de servicio del objetivo {!$Record.Name} en la cuenta {!$Record.Cuenta__r.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>Cuerpo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;Estimado&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;El usuario {!Modificador.Name} ha añadido la línea de servicio {!Para_Cada_Picklist} en el objetivo &lt;/em&gt;&lt;a href=&quot;https://ayesaoaci.lightning.force.com/lightning/r/Objetivo__c/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&lt;em&gt;{!$Record.Name} &lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt; de tipo {!$Record.Tipo_Objetivo__c} en la cuenta {!$Record.Cuenta__r.Name} de tipo {!$Record.Cuenta__r.Clase_de_cuenta__c},&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;Por favor, coordínate con él para el plan a realizar.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;Para cualquier consulta no dude en contactar con el&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:cau-crm@ayesa.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(70, 120, 134); font-family: inherit; font-size: 9pt;&quot;&gt;&lt;em&gt;cau-crm@ayesa.com&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;Gracias&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: inherit; font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;Un saludo&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
