force-app/main/default/flows/Oportunidad_Aprobacion_Preliminar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Aviso_Internacional_Isidoro</name>
        <label>Aviso Internacional Isidoro</label>
        <locationX>2393</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Importe_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internacional</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_Aviso_Internacional_Isidoro</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais_IT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Se_produce_fuera_Spain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <label>España</label>
        </rules>
    </decisions>
    <decisions>
        <description>1. Proyectos TI + &gt;500 keuros
2. Lineas servicio BO + &gt;500 keuros
3. Soluciones propias + &gt;500 keuros
4. Campo licencias = Sí


Si no cumple aprueba DM</description>
        <name>Condiciones_aprobacion</name>
        <label>Condiciones aprobacion</label>
        <locationX>1502</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_Aprobaci_n_Preliminar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cumple_condiciones</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Linea_de_Servicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobaci_n_Preliminar</targetReference>
            </connector>
            <label>Cumple condiciones</label>
        </rules>
    </decisions>
    <decisions>
        <description>1. Proyectos TI + &gt;300 keuros
2. Lineas servicio BO + &gt;500 keuros
3. Soluciones propias + &gt;500 keuros
4. Campo licencias = Sí


Si no cumple aprueba DM</description>
        <name>Copia_1_de_Condiciones_aprobacion</name>
        <label>Condiciones aprobacion</label>
        <locationX>2030</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_Aprobaci_n_Preliminar_Internacional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Cumple_condiciones</name>
            <conditionLogic>( (1 AND 5) OR ( 2 AND 4) OR ( 3 AND 4 ))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Linea_de_Servicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobacion_Preliminar_Internacional</targetReference>
            </connector>
            <label>Cumple condiciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Pa_s</name>
        <label>País</label>
        <locationX>4142</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Aprobacion_Preliminar_Internacional_ING</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Espa_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Aprobacion_Preliminar_ING</targetReference>
            </connector>
            <label>España</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_2_de_Pa_s</name>
        <label>País</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Aprobaci_n_Preliminar_Internacional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internacional</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_Espa_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais_IT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Se_produce_fuera_Spain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Aprobaci_n_Preliminar</targetReference>
            </connector>
            <label>España</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direcci_n_de_Operaciones</name>
        <label>Dirección de Operaciones</label>
        <locationX>2393</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Sociedad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ING</defaultConnectorLabel>
        <rules>
            <name>IT_DS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_de_aprobacion</targetReference>
            </connector>
            <label>IT&amp;DS</label>
        </rules>
        <rules>
            <name>INNOVATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INNOVATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_3</targetReference>
            </connector>
            <label>INNOVATION</label>
        </rules>
    </decisions>
    <decisions>
        <name>Envio_de_aprobacion</name>
        <label>Envio de aprobacion</label>
        <locationX>908</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Pa_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_envia_Division_Microsoft_y_Venta_de_lincencias_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DivisionPicklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60050044</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exige_venta_licencias__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avanzar_etapa</targetReference>
            </connector>
            <label>(No envia) Division Microsoft y Venta de lincencias Si</label>
        </rules>
        <rules>
            <name>No_envia_Cybersecurity_multi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cybersecurity Multi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>150000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avanzar_etapa_Cyber_Multi</targetReference>
            </connector>
            <label>(No envia) Cybersecurity multi</label>
        </rules>
        <rules>
            <name>Cloud_Infrastructure_Imp_Proj</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud &amp; Infrastructure (C1) - Implementation Projects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Delivery_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud &amp; Infrastructure (C2) - Implementation Projects</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avanzar_etapa_C_I</targetReference>
            </connector>
            <label>(No envia) Cloud &amp; Infrastructure - Imp Proj</label>
        </rules>
        <rules>
            <name>Delivery_Cloud_infrastructure_C3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud &amp; infrastructure (C3)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Pa_s</targetReference>
            </connector>
            <label>Delivery Cloud &amp; infrastructure (C3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe</name>
        <label>Importe</label>
        <locationX>4406</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Pais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>X300k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Pa_s</targetReference>
            </connector>
            <label>&lt;300k</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_1</name>
        <label>Importe</label>
        <locationX>3350</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Enviar_aprobaci_n_BL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1 Meuros</defaultConnectorLabel>
        <rules>
            <name>Importe_100_keuros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_aprobacion_BL</targetReference>
            </connector>
            <label>Importe &lt; 100 keuros</label>
        </rules>
        <rules>
            <name>X100k_Importe_300k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_aprobacion_BL_2</targetReference>
            </connector>
            <label>100k &lt;= Importe &lt; 300k</label>
        </rules>
        <rules>
            <name>X300_k_Importe_1_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_aprobacion_BL_3</targetReference>
            </connector>
            <label>300 k &lt;= Importe &lt; 1 M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_2</name>
        <label>Importe</label>
        <locationX>2591</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>X300k_importe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_alerta</targetReference>
            </connector>
            <label>&gt;300k</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_3</name>
        <label>Importe</label>
        <locationX>2558</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Enviar_aprobacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&gt;500k</defaultConnectorLabel>
        <rules>
            <name>Importe_500k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_aprobacion_DM</targetReference>
            </connector>
            <label>Importe &lt; = 500k</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pa_s</name>
        <label>País</label>
        <locationX>1766</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Condiciones_aprobacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internacional</defaultConnectorLabel>
        <rules>
            <name>Espa_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais_IT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Se_produce_fuera_Spain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condiciones_aprobacion</targetReference>
            </connector>
            <label>España</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais</name>
        <label>País</label>
        <locationX>4670</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Aprobacion_Preliminar_Internacional_ING</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aprobacion_Preliminar_ING</targetReference>
            </connector>
            <label>España</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sociedad</name>
        <label>Sociedad</label>
        <locationX>3878</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Importe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>X0151_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad_Ayesa__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0151</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_1</targetReference>
            </connector>
            <label>0151-BL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Aprobación Preliminar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Aprobación Preliminar</label>
    <orchestratedStages>
        <name>Aprobaci_n_Preliminar</name>
        <label>Aprobación Preliminar</label>
        <locationX>1370</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Aprobacion_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobacion_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobaci_n_CSO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CSO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CSO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CSO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobaci_n_Director_de_Pais</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación Director de Pais</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Aprobacion_Preliminar_ING</name>
        <label>Aprobacion Preliminar ING</label>
        <locationX>4538</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_aprobacion_responsables</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_DD</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de División</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_DPais</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobación DPaís</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_Oportunidad_3</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobaci_n_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobación CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Aprobacion_Preliminar_Internacional</name>
        <label>Aprobación Preliminar Internacional</label>
        <locationX>1898</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_1_de_Aprobaci_n_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Aprobaci_n_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Aprobación CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Aprobaci_n_CSO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CSO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CSO</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Aprobación CSO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Aprobaci_n_Director_de_Pais</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Aprobación Director de Pais</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_Oportunidad_2</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Aprobacion_Preliminar_Internacional_ING</name>
        <label>Aprobacion Preliminar Internacional ING</label>
        <locationX>4802</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_2_de_Enviar_aprobacion_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Copia 2 de Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Enviar_aprobacion_DD</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de División</stringValue>
                </value>
            </inputParameters>
            <label>Copia 2 de Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Enviar_aprobaci_n_DPa_s</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Copia 2 de Enviar aprobación DPaís</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_Oportunidad_4</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Avanzar_etapa</name>
        <label>Avanzar etapa</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Avanzar_etapa_subfase_a_la_oportunidad</name>
            <actionName>Oportunidad_Avanzar_etapa_Oferta_Elaboracion_Oferta</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Avanzar etapa/subfase a la oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Avanzar_etapa_C_I</name>
        <label>Avanzar etapa C&amp;I</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_3_de_Avanzar_etapa_subfase_a_la_oportunidad</name>
            <actionName>Oportunidad_Avanzar_etapa_Oferta_Elaboracion_Oferta</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Avanzar etapa/subfase a la oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Avanzar_etapa_Cyber_Multi</name>
        <label>Avanzar etapa Cyber Multi</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Avanzar_etapa_subfase_a_la_oportunidad_Cyber_multi</name>
            <actionName>Oportunidad_Avanzar_etapa_Oferta_Elaboracion_Oferta</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Avanzar etapa/subfase a la oportunidad Cyber multi</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Aprobaci_n_Preliminar</name>
        <label>Aprobación Preliminar</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_2_de_Aprobaci_n_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Aprobaci_n_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Aprobaci_n_CSO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CSO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CSO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CSO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Aprobaci_n_Director_de_Pais</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación Director de Pais</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_4_de_Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Aprobaci_n_Preliminar_Internacional</name>
        <label>Aprobación Preliminar Internacional</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_1_de_Copia_1_de_Aprobaci_n_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Copia_1_de_Aprobaci_n_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Copia_1_de_Aprobaci_n_CSO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CSO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CSO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación CSO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Copia_1_de_Aprobaci_n_Director_de_Pais</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación Director de Pais</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_5_de_Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobaci_n_Director_Internacional</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Internacional__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Responsable Internacional</stringValue>
                </value>
            </inputParameters>
            <label>Aprobación Director Internacional</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Aprobacion_Preliminar_ING</name>
        <label>Copia 1 de Aprobacion Preliminar ING</label>
        <locationX>4010</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_DD</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de División</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobaci_n_DPa_s</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobación DPaís</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Bloqueo_Oportunidad_1</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Aprobacion_Preliminar_Internacional_ING</name>
        <label>Copia 1 de Aprobacion Preliminar Internacional ING</label>
        <locationX>4274</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_1_de_Copia_2_de_Enviar_aprobacion_DD</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de División</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Copia_2_de_Enviar_aprobacion_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Copia_2_de_Enviar_aprobaci_n_DPa_s</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobación DPaís</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Enviar_aprobaci_n_BL</name>
        <label>Copia 1 de Enviar aprobación BL</label>
        <locationX>3746</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_BU_Manager</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.BU_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Business Unit Manager</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Enviar aprobacion BU Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_Authorised_Officer</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Authorised_Officer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Authorised Officer</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Enviar aprobacion Authorised Officer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_3_de_Enviar_aprobacion_DD</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Division Director</stringValue>
                </value>
            </inputParameters>
            <label>Copia 3 de Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_CMO</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Copia 1 de Enviar aprobacion CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloquear_oportunidad_4</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloquear oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_1_de_Enviar_aprobacion</name>
        <label>Enviar aprobacion</label>
        <locationX>2690</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_3_de_Enviar_aprobacion_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>V-INNO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_1_de_Enviar_aprobacion_Delivery</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Responsable_linea_de_servicio__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>H-INNO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion Delivery</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_DPais_3</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Pais__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director País</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DPais</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_OC_2</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo OC</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_2_de_Aprobaci_n_Preliminar</name>
        <label>Copia 2 de Aprobación Preliminar</label>
        <locationX>1634</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_3_de_Aprobaci_n_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Copia 3 de Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Copia 2 de Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Oportunidad_Aviso_Aprobacion_Preliminar_CCO</name>
            <actionName>Oportunidad_Aviso_Aprobacion_Preliminar_CCO</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Oportunidad: Aviso Aprobacion Preliminar CCO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Copia_2_de_Aprobaci_n_Preliminar_Internacional</name>
        <label>Copia 2 de Aprobación Preliminar Internacional</label>
        <locationX>2162</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copia_2_de_Copia_1_de_Aprobaci_n_DM</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director de Mercado</stringValue>
                </value>
            </inputParameters>
            <label>Copia 2 de Copia 1 de Aprobación DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_3_de_Bloqueo_Oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Copia 3 de Bloqueo Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Copia_2_de_Aprobacion_Director_Internacional</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Internacional__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Responsable Internacional</stringValue>
                </value>
            </inputParameters>
            <label>Copia 2 de Aprobacion Director Internacional</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aviso_Aprobacion_Preliminar_CCO</name>
            <actionName>Oportunidad_Aviso_Aprobacion_Preliminar_CCO</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Aviso Aprobacion Preliminar CCO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_alerta</name>
        <label>Enviar alerta</label>
        <locationX>2459</locationX>
        <locationY>1379</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_correo</name>
            <actionName>Oportunidad_Aviso_Aprobacion_Internacional</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vTipoAprobacion</name>
                <value>
                    <stringValue>Preliminar</stringValue>
                </value>
            </inputParameters>
            <label>Enviar correo</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_aprobacion_BL</name>
        <label>Enviar aprobación BL</label>
        <locationX>2954</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_aprobacion_BU_Manager</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.BU_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Business Unit Manager</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion BU Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloquear_oportunidad</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloquear oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_aprobacion_BL_2</name>
        <label>Enviar aprobación BL</label>
        <locationX>3218</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_aprobacion_BU_Manager_2</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.BU_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Business Unit Manager</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion BU Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_Authorised_Officer</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Authorised_Officer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Authorised Officer</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion Authorised Officer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloquear_Oportunidad_2</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloquear Oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_aprobacion_BL_3</name>
        <label>Enviar aprobación BL</label>
        <locationX>3482</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_aprobacion_BU_Manager_3</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.BU_Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Business Unit Manager</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion BU Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_Authorised_Officer_3</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Authorised_Officer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Authorised Officer</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion Authorised Officer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_DD_BL</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_Division__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Division Director</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DD</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_CMO_BL</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.CMO__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloquear_oportunidad_3</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloquear oportunidad</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_aprobacion_DM</name>
        <label>Enviar aprobacion</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Aviso_Internacional_Isidoro</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Enviar_aprobacion_DM_2</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Director_de_Mercado__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>V-INNO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion DM</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Enviar_aprobacion_Delivery</name>
            <actionName>Oportunidad_Aprobaci_n_Preliminar_Responsables</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Responsable_linea_de_servicio__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Oportunidad</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>H-INNO</stringValue>
                </value>
            </inputParameters>
            <label>Enviar aprobacion Delivery</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Bloqueo_OC</name>
            <actionName>Oportunidad_Bloqueo_por_aprobacion</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>vOportunidadId</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <label>Bloqueo OC</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>2267</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Direcci_n_de_Operaciones</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pte ok preliminar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Decision_Go_Smart_BPM_Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Bloqueo_por_aprobacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Oportunidad__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>590</triggerOrder>
    <variables>
        <name>ID_Oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
