force-app/main/default/flows/Oportunidad_Cerrada_Ganada_IB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Actualizar_cliente_a_CLI</name>
        <label>Actualizar cliente a CLI</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Oportunidad_con_desglose_de_importes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cliente_CLI_CNO_diferente_de_CLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cliente__r.CLI_CNO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Cliente_CLI_CNO</targetReference>
            </connector>
            <label>Cliente CLI CNO diferente de CLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_con_desglose_de_importes</name>
        <label>Oportunidad con desglose de importes</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desglose_importes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_importes</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Oportunidad</name>
        <label>Record Type Oportunidad</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Diferente_a_Ayesa</name>
            <conditionLogic>(4 OR 5) AND (1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_SME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_Large_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etapa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Etapa__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etapa_Fase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Etapa_Fase__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_cliente_a_CLI</targetReference>
            </connector>
            <label>Ibermática</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se</name>
        <label>Sección</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>cada_importe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SOFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cada_importe.Seccion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Activo</targetReference>
            </connector>
            <label>SOFT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad Cerrada Ganada IB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad Cerrada Ganada IB</label>
    <loops>
        <name>cada_importe</name>
        <label>cada importe</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Obtener_importes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Se</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Activo</name>
        <label>Crear Activo</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>cada_importe</targetReference>
        </connector>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <elementReference>cada_importe.Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad__c</field>
            <value>
                <elementReference>cada_importe.Cantidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_Activo__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Activo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>cada_importe.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observaciones__c</field>
            <value>
                <stringValue>Activo creado desde una oportunidad Cerrada y Contratada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Producto__c</field>
            <value>
                <elementReference>cada_importe.Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solucion__c</field>
            <value>
                <elementReference>cada_importe.Solucion__c</elementReference>
            </value>
        </inputAssignments>
        <object>Activo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_importes</name>
        <label>Obtener importes</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cada_importe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ImporteSME__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cliente_CLI_CNO</name>
        <label>Actualizar Cliente CLI_CNO</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Oportunidad_con_desglose_de_importes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLI_CNO__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Oportunidad</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>2 AND (1 OR 3)</filterLogic>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado_de_Cierre__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contratada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etapa_Fase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <object>Oportunidad__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>550</triggerOrder>
</Flow>
