force-app/main/default/flows/Oportunidad_Aprobacion_Borrador_Acuerdo_Socios_Responsablee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aviso_aprobacion</name>
        <label>Aviso aprobacion</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>Tarea_aprobacion__c.Oportunidad_Aprobaci_n_Borrador_Acuerdo_de_socios</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Oportunidad_Aprobaci_n_Borrador_Acuerdo_de_socios</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_aprobacion</name>
        <label>Enviar aprobacion</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Oportunidad_Borrador_Acuerdo_Socio</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Aprobacion Borrador Acuerdo Socios Responsablee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Aprobacion Borrador Acuerdo Socios Responsable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_aprobacion</name>
        <label>Crear tarea aprobacion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Enviar_aprobacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación Borrador Acuerdo Socios </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vOportunidad.Responsable_AJI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Borrador Acuerdo Socios</stringValue>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</name>
        <label>Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enviar_aprobacion.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Id_aprobacion</name>
        <label>Actualizar Id aprobacion</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Aviso_aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_aprobacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_tarea_aprobacion</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Oportunidad__c</objectType>
    </variables>
</Flow>
