force-app/main/default/flows/Oportunidad_Aprobaci_n_Equipo_Preventa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aprobacion_Equipo_Preventa_Oportunidad</name>
        <label>Aprobacion Equipo Preventa Oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Tarea_aprobacion__c.Aprobacion_Equipo_Preventa_Oportunidad</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobaci_n</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Aprobacion_Equipo_Preventa_Oportunidad</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Enviar_para_aprobaci_n_del_DM</name>
        <label>Enviar para aprobación del DM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobaci_n</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Equipo_Preventa_Oportunidad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_No</name>
        <label>Asignar No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vExistenExtensiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipo_preventa_informado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Si</name>
        <label>Asignar Si</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vExistenExtensiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sí</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipo_preventa_informado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importes</name>
        <label>Importes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vSumaImportes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_de_importes.Importe_Licitacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_de_importes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recuento_OC_obtenidas</name>
        <label>Recuento OC obtenidas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vNumOC</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_extensiones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_de_importes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobaci_n_propietario</name>
        <label>Comprobación propietario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Informado_y_distinto_de_soporte_oaci</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad_de_orquestador.Director_de_Mercado__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidad_de_orquestador.Director_de_Mercado__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_extensiones</targetReference>
            </connector>
            <label>Informado y distinto de soporte oaci</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipo_preventa_informado</name>
        <label>Equipo preventa informado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Crear_tarea_de_aprobaci_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oportunidad_de_orquestador.Decisi_n_Equipo_Preventa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidad_de_orquestador.Decisi_n_Equipo_Preventa__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limpiar_decisi_n_equipo_preventa</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extensiones</name>
        <label>Extensiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumOC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Si</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad:Aprobación Equipo Preventa</label>
    <loops>
        <name>Suma_de_importes</name>
        <label>Suma de importes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_extensiones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Importes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Extensiones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_de_aprobaci_n</name>
        <label>Crear tarea de aprobación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_para_aprobaci_n_del_DM</targetReference>
        </connector>
        <inputAssignments>
            <field>Cuenta_lookup__c</field>
            <value>
                <elementReference>Oportunidad_de_orquestador.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipo_Oferta__c</field>
            <value>
                <elementReference>Oportunidad_de_orquestador.Equipo_Oferta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Extensiones__c</field>
            <value>
                <elementReference>vSumaImportes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Oportunidad__c</field>
            <value>
                <elementReference>Oportunidad_de_orquestador.Importe_Licitacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación Equipo Preventa DM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Oportunidad_de_orquestador.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Oportunidad_de_orquestador.Director_de_Mercado__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tiene_extensiones_la_oportunidad__c</field>
            <value>
                <elementReference>vExistenExtensiones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Aprobación Preventa</stringValue>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_extensiones</name>
        <label>Obtener extensiones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuento_OC_obtenidas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad_Relacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad_de_orquestador.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Aprobacion_ProcessInstanceWorkItem</name>
        <label>Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enviar_para_aprobaci_n_del_DM.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oportunidad_de_orquestador</name>
        <label>Oportunidad de orquestador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comprobaci_n_propietario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_oportunidad</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Id_aprobaci_n</name>
        <label>Actualizar Id aprobación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aprobacion_Equipo_Preventa_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_de_aprobaci_n</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Obtener_Id_Aprobacion_ProcessInstanceWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Limpiar_decisi_n_equipo_preventa</name>
        <label>Limpiar decisión equipo preventa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_tarea_de_aprobaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad_de_orquestador.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decisi_n_Equipo_Preventa__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Oportunidad__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_de_orquestador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>id_oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExistenExtensiones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumOC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vSumaImportes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
