force-app/main/default/flows/Oportunidad_Obtener_Responsables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignacion_DM_Gustavo_Melero</name>
        <label>Asignación DM Gustavo Melero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorMercadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0059N000000JDWQQA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_Mercado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_AJI</name>
        <label>Asignar AJI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAsesoriaJuridica</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_AJI.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_AJI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Authorised_Officer</name>
        <label>Asignar Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAuthorisedOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Authorised_Officer.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Authorised_Officer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_BU_Manager</name>
        <label>Asignar BU Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vBUManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_BU_Manager.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_BU_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_CMO</name>
        <label>Asignar CMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCMO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_CMO.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_CMO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_COO</name>
        <label>Asignar COO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCOO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_COO.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_COO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_CSO</name>
        <label>Asignar CSO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCSO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_CSO.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_CSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Dir_Intenacional</name>
        <label>Asignar Dir. Intenacional</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorInternacional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Dir_Internacional.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Dir_Internacional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Direccion_financiera_corporativa</name>
        <label>Asignar Dirección financiera corporativa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDireccionFinancieraCorp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Direccion_financiera_corporativa.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Direccion_financiera_corporativa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Director_Compliance</name>
        <label>Asignar Director Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorCompliance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_Compliance.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_Compliance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Director_de_Divisi_n</name>
        <label>Asignar Director de División</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_de_Divisi_n.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_de_Divisi_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Director_Pais_ING</name>
        <label>Asignar Director Pais ING</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorPais</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_Pais_ING.Responsable_Area_Pais_ING__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_Pais_ING</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Director_Pais_IT</name>
        <label>Asignar Director Pais IT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorPais</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_Pa_s.Responsable_Area_Pais_IT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_Pa_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Director_QA</name>
        <label>Asignar Director Q&amp;A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorQA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_QA.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_QA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_DM_Recuperado</name>
        <label>Asignar DM Recuperado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vDirectorMercadoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Director_Mercado.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Director_Mercado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Responsable_Delivery_Center</name>
        <label>Asignar Responsable Delivery Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vResponsableLineaServicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAuxiliarDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center.Auxiliar_Delivery_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Responsable_Preventa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Responsable_Delivery_Center_inno</name>
        <label>Asignar Responsable Delivery Center inno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vResponsableLineaServicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center_inno.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAuxiliarDC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center_inno.Auxiliar_Delivery_Center__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Responsable_Preventa_inno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Responsable_Fundaci_n</name>
        <label>Asignar Responsable Fundación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vResponsableFundacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Fundaci_n.Responsable_Fundaci_n_Iberm_tica__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Fundaci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Responsable_Preventa</name>
        <label>Asignar Responsable Preventa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vResponsablePreventa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center.Responsable_Preventa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAuxPreventa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center.Auxiliar_Preventa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Delivery_Center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Responsable_Preventa_inno</name>
        <label>Asignar Responsable Preventa inno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vResponsablePreventa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center_inno.Responsable_Preventa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAuxPreventa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bucle_Obtener_Responsable_Delivery_Center_inno.Auxiliar_Preventa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Delivery_Center_inno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asignar_Authorised_Officer</name>
        <label>Copia 1 de Asignar Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAuthorisedOfficer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copia_1_de_Bucle_Obtener_Authorised_Officer.Responsable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Bucle_Obtener_Authorised_Officer</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copia_1_de_Obtener_Authorised_Officer</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copia 1 de Obtener Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Authorised_Officer</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Authorised Officer</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Middle East</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copia_1_de_Bucle_Obtener_Authorised_Officer</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_AJI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener AJI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Asesoría Jurídica</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Direccion_Operaciones__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_AJI</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Authorised_Officer</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Authorised_Officer</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Authorised Officer</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Authorised Officer</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Authorised_Officer</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_BU_Manager</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener BU Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Authorised_Officer</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Business Unit</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Authorised_Officer.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Departamento__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_BU_Manager</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_CMO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener CMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CMO</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Direccion_Operaciones__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_CMO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_COO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener COO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>COO</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_COO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_CSO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener CSO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>CSO</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Direccion_Operaciones__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_CSO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Dir_Internacional</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Dir Internacional</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Dir. Intenacional</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Dir_Internacional</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Direccion_financiera_corporativa</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Dirección financiera corporativa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Dir. Financiera Corporativa</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Direccion_financiera_corporativa</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_Compliance</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Compliance</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_Compliance</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_de_Divisi_n</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director de División</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>División</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.DivisionPicklist__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_de_Divisi_n</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_Mercado</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director Mercado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Mercado</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Mercado__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_Mercado</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_Pa_s</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director País</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>País</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Pais_IT__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_Pa_s</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_Pais_ING</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director País ING</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>País</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Pais__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_Pais_ING</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Director_QA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Director Q&amp;A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Director Q&amp;A</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Director_QA</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Responsable_Delivery_Center</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Responsable Delivery Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Delivery Center</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Delivery_Center__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Delivery_Center</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Responsable_Delivery_Center_INNO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Responsable Delivery Center INNO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Delivery Center</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>INNOVATION</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Delivery_Center_inno</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Obtener_Responsable_Fundaci_n</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Obtener Responsable Fundación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Obtener_Responsable_Fundaci_n_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recuperar_Registros_parametrica</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Maestro__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Sociedad</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.Valor__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_oportunidad.Sociedad_Ayesa__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Obtener_Responsable_Fundaci_n_0.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Bucle_Obtener_Responsable_Fundaci_n</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Direccion_Operaciones</name>
        <label>Direccion Operaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Director_Pais_ING</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ENGINEERING</defaultConnectorLabel>
        <rules>
            <name>IT_DS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Director_Pa_s</targetReference>
            </connector>
            <label>IT&amp;DS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direccion_operaciones_2</name>
        <label>Direccion operaciones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Responsable_Delivery_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IT e ING</defaultConnectorLabel>
        <rules>
            <name>Innovation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INNOVATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Responsable_Delivery_Center_INNO</targetReference>
            </connector>
            <label>Innovation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Division</name>
        <label>Division</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_DM_Recuperado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Microsoft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.DivisionPicklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60050044</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_DM_Gustavo_Melero</targetReference>
            </connector>
            <label>Microsoft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Middle_East</name>
        <label>¿País Middle East?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Authorised_Officer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Pais__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E.A.U.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Obtener_Authorised_Officer</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sociedad_BL_0151</name>
        <label>Sociedad BL 0151</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Direccion_financiera_corporativa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_es_BL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Sociedad_Ayesa__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0151</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_BU_Manager</targetReference>
            </connector>
            <label>Si es BL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sociedad_Fundazioa</name>
        <label>Sociedad Fundazioa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Director_Mercado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Sociedad_0186_IBERMATICA_FUNDAZIOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_oportunidad.Sociedad_Ayesa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0186</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Responsable_Fundaci_n</targetReference>
            </connector>
            <label>Sociedad 0186 - IBERMATICA FUNDAZIOA</label>
        </rules>
    </decisions>
    <description>Se cambia la manera de calcular al Responsable de Fundación. Se hace mediante Paramétrica. Además, se pasa el Responsable de DC y Preventa al final para poder calcularlo si la sociedad es 0186 Ibermatica Fundazioa</description>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Obtener Responsables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Obtener Responsables</label>
    <loops>
        <name>Bucle_Obtener_AJI</name>
        <label>Bucle Obtener AJI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_AJI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_AJI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Direccion_operaciones_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Authorised_Officer</name>
        <label>Bucle Obtener Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Authorised_Officer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Authorised_Officer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Direccion_financiera_corporativa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_BU_Manager</name>
        <label>Bucle Obtener BU Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_BU_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_BU_Manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pais_Middle_East</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_CMO</name>
        <label>Bucle Obtener CMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_CMO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_CMO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_CSO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_COO</name>
        <label>Bucle Obtener COO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_COO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_COO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_CMO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_CSO</name>
        <label>Bucle Obtener CSO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_CSO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_CSO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Director_Compliance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Dir_Internacional</name>
        <label>Bucle Obtener Dir Internacional</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Dir_Internacional</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Dir_Intenacional</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_AJI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Direccion_financiera_corporativa</name>
        <label>Bucle Obtener Dirección financiera corporativa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Direccion_financiera_corporativa</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Direccion_financiera_corporativa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_COO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_Compliance</name>
        <label>Bucle Obtener Director Compliance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_Compliance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Director_Compliance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Director_QA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_de_Divisi_n</name>
        <label>Bucle Obtener Director de División</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_de_Divisi_n</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Director_de_Divisi_n</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Direccion_Operaciones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_Mercado</name>
        <label>Bucle Obtener Director Mercado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_Mercado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Division</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Director_de_Divisi_n</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_Pa_s</name>
        <label>Bucle Obtener Director País</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_Pa_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Director_Pais_IT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sociedad_BL_0151</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_Pais_ING</name>
        <label>Bucle Obtener Director País ING</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_Pais_ING</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Director_Pais_ING</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sociedad_BL_0151</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Director_QA</name>
        <label>Bucle Obtener Director Q&amp;A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Director_QA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Director_QA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Dir_Internacional</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Responsable_Delivery_Center</name>
        <label>Bucle Obtener Responsable Delivery Center</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Responsable_Delivery_Center</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Responsable_Delivery_Center</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Responsable_Delivery_Center_inno</name>
        <label>Bucle Obtener Responsable Delivery Center inno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Responsable_Delivery_Center_INNO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Responsable_Delivery_Center_inno</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Bucle_Obtener_Responsable_Fundaci_n</name>
        <label>Bucle Obtener Responsable Fundación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Responsable_Fundaci_n</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Responsable_Fundaci_n</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Direccion_operaciones_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copia_1_de_Bucle_Obtener_Authorised_Officer</name>
        <label>Copia 1 de Bucle Obtener Authorised Officer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copia_1_de_Obtener_Authorised_Officer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copia_1_de_Asignar_Authorised_Officer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_Direccion_financiera_corporativa</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_record_type_estructura_org</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Oportunidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_record_type_estructura_org</name>
        <label>Obtener record type estructura org</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperar_Registros_parametrica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estructura Organizativa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_Registros_parametrica</name>
        <label>Recuperar Registros parametrica</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sociedad_Fundazioa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_record_type_estructura_org.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maestro__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Maestro_Sociedad_Parametrica</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parametrica__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Obtener_Authorised_Officer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parametrica__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Obtener_Responsable_Fundaci_n</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parametrica__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Obtener_Responsable_Fundaci_n_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Parametrica__c</objectType>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAsesoriaJuridica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAuthorisedOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAuxiliarDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAuxPreventa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBUManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCMO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCOO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCSO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDireccionFinancieraCorp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDireccionOperaciones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorCompliance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorInternacional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorMercadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorPais</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDirectorQA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResponsableFundacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResponsableLineaServicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResponsablePreventa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
