force-app/main/default/flows/Oportunidad_Ayesa_Calculo_importes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignamos_desglose</name>
        <label>Asignamos desglose</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_adjudicacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_UTE_calculo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rentabilidad_Serv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RENTPPTO__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignamos_margen_previsto_euros</name>
        <label>Asignamos margen previsto euros</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Margen_Previsto_Euros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_Calculo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Sociedad_ayesa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignamos_margen_previsto_UTE_euros</name>
        <label>Asignamos margen previsto UTE euros</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Margen_Previsto_Euros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_UTE_calculo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sociedad_ayesa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asignamos_desglose</name>
        <label>Asignamos desglose</label>
        <locationX>974</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_Calculo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rentabilidad_Serv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RENTPPTO__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copia_1_de_Sociedad_ayesa</name>
        <label>Sociedad ayesa</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Asignamos_desglose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad_Ayesa__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>IB</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la oportunidad es Extensión CUTE el margen previsto euros = 0</description>
        <name>Es_Extensi_n_CUTE</name>
        <label>Es Extensión CUTE?</label>
        <locationX>644</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Asignamos_margen_previsto_euros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es CUTE</defaultConnectorLabel>
        <rules>
            <name>Es_CUTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extensión CUTE</stringValue>
                </rightValue>
            </conditions>
            <label>Es CUTE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_UTE_informado</name>
        <label>Importe UTE informado</label>
        <locationX>347</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Es_Extensi_n_CUTE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_adjudicacion__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_Participacion_Ayesa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignamos_margen_previsto_UTE_euros</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sociedad_ayesa</name>
        <label>Sociedad ayesa</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Asignamos_desglose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NO_sociedad_Ayesa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sociedad_Ayesa__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>IB</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Margen_Previsto_Calculo</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Importe_total_sin_IVA__c}* ({!$Record.RENTPPTO__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Margen_Previsto_UTE_calculo</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Importe_adjudicacion__c}* ({!$Record.RENTPPTO__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Oportunidad Ayesa: Calculo importes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad Ayesa: Calculo importes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Importe_UTE_informado</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 5) AND 4</filterLogic>
        <filters>
            <field>Importe_total_sin_IVA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RENTPPTO__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Importe_adjudicacion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ayesa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Margen_Previsto_Euros__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Oportunidad__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
