force-app/main/default/flows/Oportunidad_Socio_Aprobacion_Socio_Subcontrata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Enviar_aprobacion_responsable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subcontrata</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Socio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_aprobacion_responsables_SOCIOS</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad-Socio: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad-Socio: Aprobacion Socio / Subcontrata</label>
    <orchestratedStages>
        <name>Enviar_aprobacion_responsable</name>
        <label>Enviar aprobacion responsable</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Aprobacion_Compliance_Subcontrata</name>
            <actionName>Oportunidad_Socio_Aprobaci_n_Responsable</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Oportunidad__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Aprobador_Compliance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OportunidadSocio</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director Compliance</stringValue>
                </value>
            </inputParameters>
            <label>Aprobacion Compliance Subcontrata</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Enviar_aprobacion_responsables_SOCIOS</name>
        <label>Enviar aprobacion responsables SOCIOS</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Aprobacion_Compliance</name>
            <actionName>Oportunidad_Socio_Aprobaci_n_Responsable</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Oportunidad__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Aprobador_Compliance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OportunidadSocio</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director Compliance</stringValue>
                </value>
            </inputParameters>
            <label>Aprobacion Compliance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobacion_Finanzas</name>
            <actionName>Oportunidad_Socio_Aprobaci_n_Responsable</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Oportunidad__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Aprobador_Finanzas__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OportunidadSocio</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>Director Financiero Corporativo</stringValue>
                </value>
            </inputParameters>
            <label>Aprobacion Finanzas</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Aprobacion_CMO</name>
            <actionName>Oportunidad_Socio_Aprobaci_n_Responsable</actionName>
            <actionType>stepBackground</actionType>
            <assignees>
                <assignee>
                    <stringValue>javier.ponce@gestion.ayesa.com.pre</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Id_oportunidad</name>
                <value>
                    <elementReference>$Record.Oportunidad__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id_responsable</name>
                <value>
                    <elementReference>$Record.Aprobador_Direccion_Operaciones__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OportunidadSocio</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vResponsable</name>
                <value>
                    <stringValue>CMO</stringValue>
                </value>
            </inputParameters>
            <label>Aprobacion CMO</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>true</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_registro</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Solicitar_aprobacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Decision_Final__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Oportunidad_Competidor_Socio__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
