force-app/main/default/flows/Oportunidad_Aviso_Aprobacion_Preliminar_CCO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Avisar_CCO</name>
        <label>Avisar CCO</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Oportunidad__c.Oportunidad_Alerta_Aprobacion_preliminar_CCO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad__c.Oportunidad_Alerta_Aprobacion_preliminar_CCO</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Aviso_Oferta_CCO</name>
        <label>Aviso Oferta CCO</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>Oportunidad__c.Oportunidad_Alerta_Aprobacion_Oferta_CCO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad__c.Oportunidad_Alerta_Aprobacion_Oferta_CCO</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>tipo_de_aprobacion</name>
        <label>tipo de aprobacion</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Aviso_Oferta_CCO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oferta</defaultConnectorLabel>
        <rules>
            <name>Preliminar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preliminar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avisar_CCO</targetReference>
            </connector>
            <label>Preliminar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Aviso Aprobacion Preliminar CCO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Aviso Aprobacion Preliminar CCO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tipo_de_aprobacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Oportunidad__c</objectType>
    </variables>
    <variables>
        <name>vTipoAprobacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
