force-app/main/default/flows/Oportunidad_Socio_Asignar_responsables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Actualizar_oportunidad_socio</name>
        <label>Actualizar oportunidad-socio</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Decision_Final__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Solicitar_aprobacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_responsable</name>
        <label>Asignar responsable</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Aprobador_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Director_Compliance__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_responsables</name>
        <label>Asignar responsables</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Aprobador_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Director_Compliance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Aprobador_Finanzas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.Direccion_Financiera_Corporativa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Aprobador_Direccion_Operaciones__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oportunidad__r.CMO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pertenece_a_ayesa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pertenece_a_ayesa</name>
        <label>Pertenece a ayesa</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Competidor_Socio__r.Pertenece_a_Ayesa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_oportunidad_socio</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_reistro</name>
        <label>Tipo de reistro</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Asignar_responsable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subcontrata</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Socio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_responsables</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad-Socio: Asignar responsables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad-Socio: Asignar responsables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_reistro</targetReference>
        </connector>
        <object>Oportunidad_Competidor_Socio__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
