force-app/main/default/flows/Oportunidad_Socio_Aviso_RO_cuando_se_aprueban_Socios_Subcontrata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_decision_socios</name>
        <label>Alerta decision socios</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Oportunidad_Competidor_Socio__c.Socio_Alerta_decision_aprobacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad_Competidor_Socio__c.Socio_Alerta_decision_aprobacion</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>envia_alerta_decision_subcontrata</name>
        <label>envia alerta decision subcontrata</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Oportunidad_Competidor_Socio__c.subncontrata_Alerta_decision_aprobacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad_Competidor_Socio__c.subncontrata_Alerta_decision_aprobacion</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>envia_alerta_decision_subcontrata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subcontrata</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Socio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_decision_socios</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad-Socio: Aviso RO cuando se aprueban Socios Subcontrata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad-Socio: Aviso RO cuando se aprueban Socios Subcontrata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_registro</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Decision_Final__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobado</stringValue>
            </value>
        </filters>
        <object>Oportunidad_Competidor_Socio__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
