force-app/main/default/flows/Oportunidad_Aviso_Aprobacion_Internacional.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Oportunidad_Aviso_aprobaci_n_Oferta_Internacional_Acci_n_1</name>
        <label>Oportunidad: Aviso aprobación Oferta Internacional Acción 1</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <actionName>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_Oferta_Internacional</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_Oferta_Internacional</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_Aviso_aprobaci_n_Preliminar_Internacional_Acci_n_1</name>
        <label>Oportunidad: Aviso aprobación Preliminar Internacional Acción 1</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_Preliminar_Internacional</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_Preliminar_Internacional</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_Aviso_aprobaci_n_QA_Economico_Internacional_Acci_n_1</name>
        <label>Oportunidad: Aviso aprobación QA Economico Internacional Acción 1</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_QA_Economico_Internacional</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>vOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Oportunidad__c.Oportunidad_Aviso_aprobaci_n_QA_Economico_Internacional</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>tipo_de_aprobacion</name>
        <label>tipo de aprobacion</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Oportunidad_Aviso_aprobaci_n_Oferta_Internacional_Acci_n_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oferta</defaultConnectorLabel>
        <rules>
            <name>Preliminar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Preliminar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Aviso_aprobaci_n_Preliminar_Internacional_Acci_n_1</targetReference>
            </connector>
            <label>Preliminar</label>
        </rules>
        <rules>
            <name>QA_Economico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA Economico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Aviso_aprobaci_n_QA_Economico_Internacional_Acci_n_1</targetReference>
            </connector>
            <label>QA Economico</label>
        </rules>
    </decisions>
    <description>Preliminar / Oferta</description>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Aviso Aprobacion Internacional {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Aviso Aprobacion Internacional</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>tipo_de_aprobacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Oportunidad__c</objectType>
    </variables>
    <variables>
        <name>vTipoAprobacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
