force-app/main/default/flows/Oportunidad_Ibermatica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actualizar_Referencia_Apex</name>
        <label>Actualizar Referencia Apex</label>
        <locationX>1189</locationX>
        <locationY>5087</locationY>
        <actionName>CRM_IB_Update_ReferenciaComercial</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizar_Oportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id_ref</name>
            <value>
                <elementReference>$Record.Referencia_Comercial_lookup__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRM_IB_Update_ReferenciaComercial</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>para las oportunidades que no tienen desglose de importes, se asigna el importe total y margen total a importe producto y margen producto</description>
        <name>Asignamos_importe_y_margen_total_a_producto</name>
        <label>Asignamos importe y margen total a producto</label>
        <locationX>666</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Margen_Previsto_Euros__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>para las oportunidades que no tienen desglose de importes, se asigna el importe total y margen total a importe producto y margen producto</description>
        <name>Asignamos_importe_y_margen_total_a_producto_latam</name>
        <label>Asignamos importe y margen total a producto latam</label>
        <locationX>402</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_ofertado_sin_IVA_local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Margen_Previsto_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>para las oportunidades que no tienen desglose de importes, se asigna el importe total y margen total a importe servicios y margen servicios</description>
        <name>Asignamos_importe_y_margen_total_a_servicios</name>
        <label>Asignamos importe y margen total a servicios</label>
        <locationX>1194</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Margen_Previsto_Euros__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.importe_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_a_Oportunidades_Ibermatica</name>
        <label>Asignar a Oportunidades Ibermatica</label>
        <locationX>908</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Codigo_Org_Comercial_IB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smart_Obtener_ID_org_comercial_IB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Importe_Licitacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_estimado_incluye_recargos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mercado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oraganizacion_Ibermatica_Literal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Nombre_Corto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Objetivo_del_proyecto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Plazo_de_ejecuci_n_meses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Organizacion_Ibermatica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SMART FACTORIES</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_campos_SME</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_cambio_a_eur_de_importe_y_margen</name>
        <label>Asignar cambio a eur de importe y margen</label>
        <locationX>1942</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Importe_total_sin_IVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importe_Peso_a_EUR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_Previsto_Euros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Peso_a_EUR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_participacion_y_plazo_de_ejecuci_n_en_el_alta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_campos_SME</name>
        <label>Asignar campos SME</label>
        <locationX>908</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Etapa_Fase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Participacion_Ayesa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Plazo_de_ejecuci_n_meses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Probabilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Porcentaje_existo_form__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fecha_cierre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_estado_oportunidad_lead</name>
        <label>Asignar estado oportunidad lead</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_estado_Oportunidad_Oportunity</name>
        <label>Asignar estado Oportunidad Oportunity</label>
        <locationX>842</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_estado_oportunidad_suspect</name>
        <label>Asignar estado oportunidad suspect</label>
        <locationX>1370</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suspect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_estado_y_fecha_perfil_opportunity</name>
        <label>Asignar estado y fecha/perfil opportunity</label>
        <locationX>578</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_Oportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaTODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Perfil_cambia_estado_opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Estado_y_Fecha_perfil_suspect</name>
        <label>Asignar Estado y Fecha/perfil suspect</label>
        <locationX>1106</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suspect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_Suspect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaTODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Perfil_cambia_estado_suspect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_estado_y_fecha_peril_cambio_lead</name>
        <label>Asignar estado y fecha/peril cambio lead</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Estado_oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaTODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Perfil_cambia_estado_lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_fecha_de_presentaci_n</name>
        <label>Asignar fecha de presentación</label>
        <locationX>776</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fecha_estimada_de_cierre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hoy_mas_seis_meses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fecha_inicio_produccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_importe_adjudicacion_y</name>
        <label>Asignar importe contratacion</label>
        <locationX>1221</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Importe_Contratacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_de_cierre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_margen_previsto_euros</name>
        <label>Asignar margen previsto euros</label>
        <locationX>798</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>$Record.Margen_Previsto_Euros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_calculo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RENTPPTO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_estimado_incluye_recargos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RENTPPTO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registro_Latam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_plazo_1mes</name>
        <label>Asignar plazo 1mes</label>
        <locationX>1810</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Plazo_de_ejecuci_n_meses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Referencia_comercial_a_OC</name>
        <label>Asignar Referencia comercial a OC</label>
        <locationX>925</locationX>
        <locationY>5195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Referencia_Comercial_lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crear_Referencia_Comercial_registro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bloqueada_a_true</name>
        <label>Bloqueada a true</label>
        <locationX>1189</locationX>
        <locationY>4163</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bloqueada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>importe_y_fechas_de_contratacion_adjudicacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculamos_rentabilidad</name>
        <label>Calculamos rentabilidad</label>
        <locationX>1458</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>$Record.RENTPPTO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_porc_Rentabilidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_porc_Rentabilidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_estimado_incluye_recargos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_porc_Rentabilidad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>para las oportunidades que no tienen desglose de importes, se asigna el importe total y margen total a importe servicios y margen servicios</description>
        <name>Copia_1_de_Asignamos_importe_y_margen_total_a_servicios</name>
        <label>LATAM Asignamos importe y margen total a servicios</label>
        <locationX>930</locationX>
        <locationY>3611</locationY>
        <assignmentItems>
            <assignToReference>$Record.importe_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_ofertado_sin_IVA_local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Margen_Previsto_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.importe_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.margen_productoHard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estado_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asignar_a_Oportunidades_Ibermatica</name>
        <label>Copia 1 de Asignar a Oportunidades Ibermatica</label>
        <locationX>1579</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Codigo_Org_Comercial_IB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_ID_org_comercial_IB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Margen_estimado_incluye_recargos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Nombre_Corto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Objetivo_del_proyecto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Organizacion_Ibermatica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_ID_org_comercial_IB.Organizacion_Comercial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fecha_Creacion_c_vacia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fecha_creacion_CreatedDate</name>
        <label>Fecha creacion = CreatedDate</label>
        <locationX>1447</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fecha_Creacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_SME</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fecha_de_Cierre_hoy</name>
        <label>Fecha de Cierre hoy</label>
        <locationX>649</locationX>
        <locationY>4595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fecha_estimada_de_cierre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaTODAY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referencia_Comercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fecha_inicio_produccion_6_meses</name>
        <label>Fecha inicio produccion 6 meses</label>
        <locationX>776</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fecha_inicio_produccion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hoy_mas_seis_meses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Estado_Oportunidad_Suspect_Lead_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>importe_y_fechas_de_contratacion_adjudicacion</name>
        <label>importe y fechas de contratacion, adjudicacion</label>
        <locationX>1189</locationX>
        <locationY>4271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Importe_Contratacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Importe_adjudicacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_adjudicacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_estimada_de_cierre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_firma_contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_estimada_de_cierre__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_registro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Margen_Previsto</name>
        <label>Margen Previsto</label>
        <locationX>666</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>$Record.Margen_Previsto_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Margen_Previsto_Latam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipologia_de_la_oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Probabilidad</name>
        <label>Probabilidad 0</label>
        <locationX>1353</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probabilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referencia_Comercial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Probabilidad_100</name>
        <label>Probabilidad 100</label>
        <locationX>1089</locationX>
        <locationY>4703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probabilidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referencia_Comercial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actualizar_Estado_Oportunidad_Suspect_Lead_Opportunity</name>
        <label>Actualizar Estado Oportunidad Suspect Lead Opportunity</label>
        <locationX>908</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_Estado_Fecha_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_Estado_Fecha_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Suspect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fase__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Suspect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_Estado_Fecha_Suspect</targetReference>
            </connector>
            <label>Suspect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Actualizar_OC_RT</name>
        <label>Actualizar OC dependiendo RT</label>
        <locationX>1579</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es SME ni LATAM</defaultConnectorLabel>
        <rules>
            <name>Si_es_SME</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Smart_Obtener_ID_org_comercial_IB</targetReference>
            </connector>
            <label>Si es SME</label>
        </rules>
        <rules>
            <name>Si_es_LATAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Rol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KAM Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mercado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60035586</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recuperar_tipo_de_cambio</targetReference>
            </connector>
            <label>Si es LATAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asignar_participacion_y_plazo_de_ejecuci_n_en_el_alta</name>
        <label>Asignar plazo de ejecución en el alta</label>
        <locationX>1942</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Calcular_Margen_Previsto_EUR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Participaci_n_y_plazo_vacio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plazo_de_ejecuci_n_meses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_plazo_1mes</targetReference>
            </connector>
            <label>plazo vacio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Calcular_Margen_Previsto_EUR</name>
        <label>Calcular Margen Previsto EUR</label>
        <locationX>1579</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>Estado_Cerrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>rentabilidad_e_importe_informados</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_total_sin_IVA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RENTPPTO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Margen_Previsto_Euros__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desglose_de_importes</targetReference>
            </connector>
            <label>% rentabilidad e importe informados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_a_Cerrada_desde_etapa_diferente</name>
        <label>Cambio a Cerrada desde etapa diferente</label>
        <locationX>781</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>Referencia_Comercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etapa_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Etapa_Fase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_de_Cierre_hoy</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Estado_Fecha_Lead</name>
        <label>Cambio Estado Fecha Lead</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Asignar_estado_oportunidad_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambio_Estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Asignar_estado_y_fecha_peril_cambio_lead</targetReference>
            </connector>
            <label>Cambio Fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Estado_Fecha_Opportunity</name>
        <label>Cambio Estado Fecha Opportunity</label>
        <locationX>710</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Asignar_estado_Oportunidad_Oportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Cambio_Fecha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Oportunity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Asignar_estado_y_fecha_perfil_opportunity</targetReference>
            </connector>
            <label>Cambio Fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_Estado_Fecha_Suspect</name>
        <label>Cambio Estado Fecha Suspect</label>
        <locationX>1238</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Asignar_estado_oportunidad_suspect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambio_Fecha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Suspect__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Asignar_Estado_y_Fecha_perfil_suspect</targetReference>
            </connector>
            <label>Cambio Fecha</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>1062</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Asignamos_importe_y_margen_total_a_servicios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SME o Large</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Latam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Rol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mercado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60035586</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Asignamos_importe_y_margen_total_a_servicios</targetReference>
            </connector>
            <label>Latam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desglose_de_importes</name>
        <label>Desglose de importes</label>
        <locationX>1260</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Estado_Cerrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Desglose</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desglose_importes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desglose_importes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_margen_previsto_euros</targetReference>
            </connector>
            <label>No Desglose</label>
        </rules>
        <rules>
            <name>Si_Desglose_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desglose_importes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculamos_rentabilidad</targetReference>
            </connector>
            <label>Si Desglose</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Cerrada</name>
        <label>Estado Cerrada</label>
        <locationX>1579</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cerrada</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etapa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Etapa_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bloqueada_a_true</targetReference>
            </connector>
            <label>Cerrada SME</label>
        </rules>
        <rules>
            <name>Negociacion_y_cierre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Etapa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Oportunidad</targetReference>
            </connector>
            <label>Negociacion y cierre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_de_cierre</name>
        <label>Estado de cierre</label>
        <locationX>1221</locationX>
        <locationY>4595</locationY>
        <defaultConnector>
            <targetReference>Probabilidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contratada</defaultConnectorLabel>
        <rules>
            <name>Contratada_Probabilidad_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_Cierre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Probabilidad_100</targetReference>
            </connector>
            <label>Contratada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_cierre</name>
        <label>Fecha cierre</label>
        <locationX>908</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Fecha_inicio_produccion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Está informada</defaultConnectorLabel>
        <rules>
            <name>es_nula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_estimada_de_cierre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_fecha_de_presentaci_n</targetReference>
            </connector>
            <label>es nula</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_Creacion_c_vacia</name>
        <label>Fecha_Creacion__c vacia</label>
        <locationX>1579</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Record_Type_SME</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Informar_Fecha_creacion_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_Creacion__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Fecha_creacion_CreatedDate</targetReference>
            </connector>
            <label>Informar Fecha_creacion__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_inicio_produccion</name>
        <label>Fecha inicio produccion</label>
        <locationX>908</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Estado_Oportunidad_Suspect_Lead_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Vacia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_inicio_produccion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_inicio_produccion_6_meses</targetReference>
            </connector>
            <label>Vacia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referencia_Comercial</name>
        <label>Referencia Comercial</label>
        <locationX>1189</locationX>
        <locationY>4979</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No crear Referencia Comercial</defaultConnectorLabel>
        <rules>
            <name>Crear_Referencia_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Referencia_Comercial__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial_lookup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Referencia_Comercial_registro</targetReference>
            </connector>
            <label>Crear Referencia Comercial</label>
        </rules>
        <rules>
            <name>Actualizar_Referencia_Comercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No, porque ya existe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial_lookup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Referencia_Apex</targetReference>
            </connector>
            <label>Actualizar Referencia Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registro_Latam</name>
        <label>Registro Latam</label>
        <locationX>798</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Tipologia_de_la_oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Informamos_Margen_Previsto_local</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Rol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mercado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60035586</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Margen_Previsto</targetReference>
            </connector>
            <label>Informamos Margen Previsto (local)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>534</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Asignamos_importe_y_margen_total_a_producto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SME o Large</defaultConnectorLabel>
        <rules>
            <name>Latam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Rol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Latam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mercado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60035586</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignamos_importe_y_margen_total_a_producto_latam</targetReference>
            </connector>
            <label>Latam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_registro</name>
        <label>Tipo de registro</label>
        <locationX>1189</locationX>
        <locationY>4379</locationY>
        <defaultConnector>
            <targetReference>Referencia_Comercial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualizar_fecha_de_cierre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_a_Cerrada_desde_etapa_diferente</targetReference>
            </connector>
            <label>SME Actualizar fecha de cierre</label>
        </rules>
        <rules>
            <name>Large_Account_y_Latam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_Large_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ibermatica_Latam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_importe_adjudicacion_y</targetReference>
            </connector>
            <label>Large Account o Latam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_de_la_oportunidad</name>
        <label>Tipologia de la oportunidad</label>
        <locationX>798</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Tipo_de_registro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Servicios</defaultConnectorLabel>
        <rules>
            <name>Producto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipologia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_registro</targetReference>
            </connector>
            <label>Producto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calcular_porc_Rentabilidad</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Margen_Previsto_Euros__c}*100/{!$Record.Importe_total_sin_IVA__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FechaTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Hoy_mas_seis_meses</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),6)</expression>
    </formulas>
    <formulas>
        <name>Importe_Peso_a_EUR</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Importe_total_ofertado_sin_IVA_local__c}/{!Tipo_cambio_PesoArg_Eur}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Margen_Peso_a_EUR</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Margen_Previsto_Local__c}/{!Tipo_cambio_PesoArg_Eur}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Margen_Previsto_calculo</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Importe_total_sin_IVA__c}* ({!$Record.RENTPPTO__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Margen_Previsto_Latam</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Importe_total_ofertado_sin_IVA_local__c}*{!$Record.RENTPPTO__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Valores_areas_referencia_comercial</name>
        <dataType>String</dataType>
        <expression>{!Areas_tecnologia_oportunidad} &amp; &quot;;&quot; &amp; {!Areas_referencia_comercial}</expression>
    </formulas>
    <formulas>
        <name>Year_fecha_cierre</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.Fecha_estimada_de_cierre__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Oportunidad Ibermatica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad Ibermatica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Referencia_Comercial_registro</name>
        <label>Crear Referencia Comercial</label>
        <locationX>925</locationX>
        <locationY>5087</locationY>
        <connector>
            <targetReference>Asignar_Referencia_comercial_a_OC</targetReference>
        </connector>
        <inputAssignments>
            <field>Area_conocimiento_tecno__c</field>
            <value>
                <elementReference>$Record.Tecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clic_comercial__c</field>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Record.Fecha_estimada_de_cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_acumulado__c</field>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad_principal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Referencia_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_cliente</name>
        <label>Obtener cliente</label>
        <locationX>1579</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Asignar_a_Oportunidades_Ibermatica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_ID_org_comercial_IB</name>
        <label>Obtener ID org comercial IB</label>
        <locationX>1579</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_cliente</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Org_Comercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DivisionPicklist__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_SME</name>
        <label>Record Type SME</label>
        <locationX>1579</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_OC_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ibermatica SME</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SME_RecordType_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtener los registros de organización de parametrica.
Necesitamos el id salesforce</description>
        <name>RecordType_Org_Comercial</name>
        <label>RecordType Org Comercial</label>
        <locationX>1579</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_ID_org_comercial_IB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organización</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recuperar_tipo_de_cambio</name>
        <label>Recuperar tipo de cambio</label>
        <locationX>1942</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_cambio_a_eur_de_importe_y_margen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Moneda_origen__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Peso argentino</stringValue>
            </value>
        </filters>
        <filters>
            <field>Moneda_destino__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Euro</stringValue>
            </value>
        </filters>
        <filters>
            <field>year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_fecha_cierre</elementReference>
            </value>
        </filters>
        <object>Parametrica_2__c</object>
        <outputAssignments>
            <assignToReference>Tipo_cambio_PesoArg_Eur</assignToReference>
            <field>Cambio__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Smart_Obtener_ID_org_comercial_IB</name>
        <label>Smart Obtener ID org comercial IB</label>
        <locationX>908</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_a_Oportunidades_Ibermatica</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Org_Comercial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>60035584</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Oportunidad</name>
        <label>Actualizar Oportunidad</label>
        <locationX>1579</locationX>
        <locationY>5471</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1453</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType_Org_Comercial</targetReference>
        </connector>
        <filterLogic>(1 OR 2 )  AND ( 3 OR 4 OR 5 OR 6 OR 7  OR 8 OR 9 OR 10 OR 11 OR 12) AND 13 AND 14</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ibermatica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad_Ibermatica__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RENTPPTO__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Importe_total_sin_IVA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Importe_total_ofertado_sin_IVA_local__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organizacion_Ibermatica__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referencia_Comercial__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Etapa_Fase__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DivisionPicklist__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Codigo_OC__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Margen_Previsto_Euros__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Extension__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extensión Rectificativa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_Extension__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extensión CUTE</stringValue>
            </value>
        </filters>
        <object>Oportunidad__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Areas_referencia_comercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Referencia_Comercial_lookup__r.Area_conocimiento_tecno__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Areas_tecnologia_oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Tecnologia__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Importes_suma</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Obtener el Id del tipo de registro Organización Comercial (Parametrica Ibermatica)</description>
        <name>RecordTypeOrgComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SME_RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tipo_cambio_PesoArg_Eur</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>105.09</numberValue>
        </value>
    </variables>
</Flow>
