force-app/main/default/flows/Opportunity_Creacion_Inter_ITDS_Director_Pais.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aviso_Creacion_Internacional_Director_Pais</name>
        <label>Aviso Creación Internacional Director Pais</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Creada.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Aviso_Creacion_Internacional_Multiple</name>
        <label>Aviso Creación Internacional Múltiple</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Creada.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Director_Pais</name>
        <label>Director Pais</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Director_Pais__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Creada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Isidoro</name>
        <label>Isidoro</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Isidoro_Carrillo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aviso_Creacion_Internacional_Multiple</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Importe</name>
        <label>Importe</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Aviso_Creacion_Internacional_Director_Pais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;1M</defaultConnectorLabel>
        <rules>
            <name>X1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isidoro</targetReference>
            </connector>
            <label>1M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Direccion_Operaciones</name>
        <label>Pais Direccion Operaciones</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>España</defaultConnectorLabel>
        <rules>
            <name>Internacional_ITDS_Alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais_IT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Director_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Director_Pais</targetReference>
            </connector>
            <label>Internacional IT&amp;DS Alta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Creación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Creación Inter ITDS Director País</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Template_Creada</name>
        <label>Template Creada</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Importe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aviso_Opp_Creada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pais_Direccion_Operaciones</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ayesa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050N000007Cn2jQAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>Destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Isidoro_Carrillo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050N000009ViLqQAK</stringValue>
        </value>
    </variables>
</Flow>
