force-app/main/default/flows/Opportunity_Actualizacion_Inter_ITDS_Director_Pais.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aviso_Aprobacion_Oferta_Internacional_Director_Pais</name>
        <label>Aviso Aprobación Oferta Internacional Director País</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Pte_Aprobacion.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Aviso_Aprobacion_Oferta_Internacional_Multiple</name>
        <label>Aviso Aprobación Oferta Internacional Múltiple</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Pte_Aprobacion.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Aviso_aprobacion_Preliminar_Internacional_Director_Pais</name>
        <label>Aviso aprobación Preliminar Internacional Director Pais</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Ok_Preliminar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Aviso_aprobacion_Preliminar_Internacional_Multiple</name>
        <label>Aviso aprobación Preliminar Internacional Múltiple</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Ok_Preliminar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Aviso_Cierre_Internacional_Multiple</name>
        <label>Aviso Cierre Internacional Múltiple</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Cerrada.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copia_1_de_Aviso_Cierre_Internacional_M_ltiple</name>
        <label>Copia 1 de Aviso Cierre Internacional Múltiple</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>MessageAlert_CountryDirector</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccUserId</name>
            <value>
                <elementReference>Ayesa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinatarioIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Template_Cerrada.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MessageAlert_CountryDirector</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignacion_Director_Pais</name>
        <label>Asignación Director Pais</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Director_Pais__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subfase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Isidoro_Aprobacion</name>
        <label>Isidoro Aprobación</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Isidoro_Carrillo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aviso_Aprobacion_Oferta_Internacional_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Isidoro_Cerrada</name>
        <label>Isidoro Cerrada</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Isidoro_Carrillo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aviso_Cierre_Internacional_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Isidoro_Ok</name>
        <label>Isidoro Ok</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Isidoro_Carrillo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aviso_aprobacion_Preliminar_Internacional_Multiple</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Importe_Aprobacion</name>
        <label>Importe Aprobacion</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Aviso_Aprobacion_Oferta_Internacional_Director_Pais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;1M</defaultConnectorLabel>
        <rules>
            <name>Aprobacion_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isidoro_Aprobacion</targetReference>
            </connector>
            <label>Aprobacion 1M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_Cerrada</name>
        <label>Importe Cerrada</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Aviso_Cierre_Internacional_M_ltiple</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;1M</defaultConnectorLabel>
        <rules>
            <name>Cerrada_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isidoro_Cerrada</targetReference>
            </connector>
            <label>Cerrada 1M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_Ok</name>
        <label>Importe Ok</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Aviso_aprobacion_Preliminar_Internacional_Director_Pais</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;1M</defaultConnectorLabel>
        <rules>
            <name>Ok_1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isidoro_Ok</targetReference>
            </connector>
            <label>Ok 1M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pais_Direccion_Operaciones</name>
        <label>Pais Direccion Operaciones</label>
        <locationX>1403</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>España</defaultConnectorLabel>
        <rules>
            <name>Internacional_ITDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pais_IT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Director_Pais__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Director_Pais</targetReference>
            </connector>
            <label>Internacional IT&amp;DS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subfase</name>
        <label>Subfase</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cerrada</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdida</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aplazada / anulada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subfase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subfase__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Cerrada</targetReference>
            </connector>
            <label>Cerrada</label>
        </rules>
        <rules>
            <name>Ok_Preliminar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pte ok preliminar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subfase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subfase__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Ok_Preliminar</targetReference>
            </connector>
            <label>Ok Preliminar</label>
        </rules>
        <rules>
            <name>Pte_Aprobacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subfase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pte. Aprobación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subfase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subfase__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Pte_Aprobacion</targetReference>
            </connector>
            <label>Pte Aprobacion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Actualización Inter ITDS Director País {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Actualización Inter ITDS Director País</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Template_Cerrada</name>
        <label>Template Cerrada</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Importe_Cerrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aviso_Opp_Cerrada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Template_Ok_Preliminar</name>
        <label>Template Ok Preliminar</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Importe_Ok</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aviso_Opp_Pte_Ok_Preliminar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Template_Pte_Aprobacion</name>
        <label>Template Pte Aprobacion</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Importe_Aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aviso_Opp_Pte_Aprobacion_Oferta</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pais_Direccion_Operaciones</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ayesa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050N000007Cn2jQAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>Destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Isidoro_Carrillo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050N000009ViLqQAK</stringValue>
        </value>
    </variables>
</Flow>
