force-app/main/default/flows/Opportunity_Cambio_Paises.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignamos_Pais</name>
        <label>Asignamos Pais</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pais_IT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtener_pais_sociedad.Pais__r.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pais_IT_Literal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obtener_pais_sociedad.Pais__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignamos_Pais_Origen</name>
        <label>Asignamos Pais Origen</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pais_Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pais__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Se_cambia_sociedad</name>
        <label>Se cambia sociedad</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Sociedad_Ayesa__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sociedad_Ayesa__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_pais_sociedad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>se_produce_fuera_de_espa_a_cambio_en_pais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Se_produce_fuera_Spain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pais__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignamos_Pais_Origen</targetReference>
            </connector>
            <label>se produce fuera de españa, cambio en pais</label>
        </rules>
    </decisions>
    <description>Si se cambia la sociedad se actualiza Pais IT
Si se produce fuera de españa y cambian el Pais, el Pais origen es actualizado</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Cambio Paises {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Cambio Paises</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_pais_sociedad</name>
        <label>obtener pais sociedad</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignamos_Pais</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sociedad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sociedad_Ayesa__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Se_cambia_sociedad</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
