force-app/main/default/flows/Opportunity_Aprobacion_Oferta_Responsables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_alerta_aprobacion_oferta</name>
        <label>Enviar alerta aprobacion oferta</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobaci_n_oferta</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobaci_n_oferta</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_alerta_IT_DS_sin_condiciones_qa</name>
        <label>Enviar alerta IT&amp;DS sin condiciones qa</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <actionName>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobaci_n_oferta_ITDS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobaci_n_oferta_ITDS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_alerta_QA_Economico</name>
        <label>Enviar alerta QA Económico</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <actionName>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobacion_QA_Economico</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobacion_QA_Economico</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_alerta_QA_tecnico</name>
        <label>Enviar alerta QA técnico</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <actionName>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobacion_QA_Tecnico</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Oportunidad_Envio_alerta_propietario_aprobacion_QA_Tecnico</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_aprobacion_propietario</name>
        <label>Envio aprobacion propietario</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Obtener_Id_Aprobacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobacion_Oferta_Oportunidad</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_No</name>
        <label>Asignar No</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>vExistenExtensiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_tarea_de_aprobacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Si</name>
        <label>Asignar Si</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>vExistenExtensiones</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sí</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_tarea_de_aprobacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importes</name>
        <label>Importes</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vSumaImportes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Suma_de_importes.Importe_Licitacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_de_importes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recuento_OC_obtenidas</name>
        <label>Recuento OC obtenidas</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vNumOC</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_extensiones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_de_importes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobacion_propietario</name>
        <label>Comprobacion propietario</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Propietario_informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_responsable</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_extensiones</targetReference>
            </connector>
            <label>Propietario informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extensiones</name>
        <label>Extensiones</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Asignar_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumOC</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Si</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mensaje_Tipo_de_Aprobacion</name>
        <label>Mensaje Tipo de Aprobacion</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Enviar_alerta_IT_DS_sin_condiciones_qa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Oferta_ingenieria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacionOferta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Oportunidad.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENGINEERING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_alerta_aprobacion_oferta</targetReference>
            </connector>
            <label>Oferta (ingenieria)</label>
        </rules>
        <rules>
            <name>Oferta_Tecnica_IT_DS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacionOferta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta QA Técnico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_alerta_QA_tecnico</targetReference>
            </connector>
            <label>Oferta Tecnica (IT&amp;DS)</label>
        </rules>
        <rules>
            <name>Oferta_Econ_mica_IT_DS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTipoAprobacionOferta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oferta QA Económico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_alerta_QA_Economico</targetReference>
            </connector>
            <label>Oferta Económica (IT&amp;DS)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Aprobación Oferta Responsables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Aprobación Oferta Responsables</label>
    <loops>
        <name>Suma_de_importes</name>
        <label>Suma de importes</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionReference>Obtener_extensiones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Importes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Extensiones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_de_aprobacion</name>
        <label>Crear tarea de aprobación</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Envio_aprobacion_propietario</targetReference>
        </connector>
        <inputAssignments>
            <field>Cuenta_lookup__c</field>
            <value>
                <elementReference>Oportunidad.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Extensiones__c</field>
            <value>
                <elementReference>vSumaImportes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Oportunidad__c</field>
            <value>
                <elementReference>Oportunidad.Importe_Licitacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación {!vResponsable}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_responsable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tiene_extensiones_la_oportunidad__c</field>
            <value>
                <elementReference>vExistenExtensiones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>vTipoAprobacionOferta</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_extensiones</name>
        <label>Obtener extensiones</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuento_OC_obtenidas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad_Relacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Aprobacion</name>
        <label>Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Envio_aprobacion_propietario.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Id_aprobacion</name>
        <label>Actualizar Id aprobación</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Mensaje_Tipo_de_Aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_de_aprobacion</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Obtener_Id_Aprobacion.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobacion_propietario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vCuerpoEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Link de aprobacion https://ayesaoaci--devdsi.sandbox.lightning.force.com/lightning/r/ProcessInstanceStep/{!Envio_aprobacion_propietario.instanceId}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Id_oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_responsable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Oportunidad__c</objectType>
    </variables>
    <variables>
        <name>vExistenExtensiones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumOC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vResponsable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSumaImportes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTipoAprobacionOferta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
