force-app/main/default/flows/Opportunity_Comprobacion_aprobacion_Oportunidad_Socio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_en_proceso</name>
        <label>Asignar en proceso</label>
        <locationX>402</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSocios</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Final_Socios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_en_proceso_sub</name>
        <label>Asignar en proceso sub</label>
        <locationX>514</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSubcontratas</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisi_n_Final_Subcontratas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_no_enviado_sub</name>
        <label>Asignar no enviado sub</label>
        <locationX>250</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSubcontratas</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No enviado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisi_n_Final_Subcontratas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Rechazado</name>
        <label>Asignar Rechazado</label>
        <locationX>666</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSocios</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Final_Socios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Rechazado_Sub</name>
        <label>Asignar Rechazado Sub</label>
        <locationX>778</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSubcontratas</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisi_n_Final_Subcontratas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_socio_no_enviado_a_aprobacion</name>
        <label>Asignar socio no enviado a aprobacion</label>
        <locationX>138</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>vDecisionFinalSocios</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No enviado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Final_Socios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma</name>
        <label>Suma &amp;</label>
        <locationX>202</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>vPorcentajeSocios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sumamos_Socio.Participacion_Socio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sumamos_Socio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_participacion_oportunidad</name>
        <label>Suma % participacion oportunidad</label>
        <locationX>114</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>vPorcentajeSocios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Participacion_Ayesa__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_socios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_subcontratas</name>
        <label>Suma subcontratas</label>
        <locationX>294</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>vNumSubcontrata</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtenemos_Subcontratas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subcontratas_creadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumatorio_de_socios</name>
        <label>Sumatorio de socios</label>
        <locationX>278</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vNumSocios</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtenemos_Socios</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hay_socios_creados</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_socios_creados</name>
        <label>Error socios creados</label>
        <locationX>442</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Subcontratas</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Debe tener los socios creados y aprobados por los responsables indicados</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_subcontratas_no_creadas</name>
        <label>Error subcontratas no creadas</label>
        <locationX>426</locationX>
        <locationY>2963</locationY>
        <customErrorMessages>
            <errorMessage>Para pasar a la siguiente etapa debe tener las subcontrataciones creadas y aprobadas</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_EN_PROCESO_2</name>
        <label>Mensaje de error EN PROCESO 2</label>
        <locationX>138</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todos_los_socios_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>La aprobación de los socios está En Proceso</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_EN_PROCESO_Sub</name>
        <label>Mensaje de error EN PROCESO Sub</label>
        <locationX>514</locationX>
        <locationY>3479</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>No puede avanzar la oportunidad porque la aprobación de las subcontrataciones está En Proceso</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_NO_ENVIADO_1</name>
        <label>Mensaje de error NO ENVIADO</label>
        <locationX>666</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todos_los_socios_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Por favor, revisa que todos los socios hayan sido enviados a aprobación</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_NO_ENVIADO_sub</name>
        <label>Mensaje de error NO ENVIADO Sub</label>
        <locationX>250</locationX>
        <locationY>3479</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Por favor, revisa que todas las subcontrataciones hayan sido enviadas a aprobación</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_RECHAZADO</name>
        <label>Mensaje de error RECHAZADO</label>
        <locationX>402</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todos_los_socios_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>La decisión final de los socios ha sido RECHAZADO</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Mensaje_de_error_RECHAZADO_sub</name>
        <label>Mensaje de error RECHAZADO sub</label>
        <locationX>778</locationX>
        <locationY>3479</locationY>
        <connector>
            <targetReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>No puede avanzar la oportunidad porque la decisión final de las subcontrataciones ha sido RECHAZADO</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Suma_socios_por</name>
        <label>Suma socios</label>
        <locationX>178</locationX>
        <locationY>1379</locationY>
        <customErrorMessages>
            <errorMessage>La suma del % de participación de los socios y el % Participación Ayesa debe de ser 100%</errorMessage>
            <fieldSelection>Subfase__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decisi_n_Final_Subcontratas</name>
        <label>Decisión Final Subcontratas</label>
        <locationX>646</locationX>
        <locationY>3371</locationY>
        <defaultConnector>
            <targetReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_enviado_sub_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_NO_ENVIADO_sub</targetReference>
            </connector>
            <label>No enviado sub</label>
        </rules>
        <rules>
            <name>En_proceso_sub_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En proceso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_EN_PROCESO_Sub</targetReference>
            </connector>
            <label>En proceso sub</label>
        </rules>
        <rules>
            <name>Rechazado_sub_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_RECHAZADO_sub</targetReference>
            </connector>
            <label>Rechazado sub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_final</name>
        <label>Decision final</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Decision_Final_Socios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aprobado</defaultConnectorLabel>
        <rules>
            <name>Socio_no_enviado_a_aprobacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todos_los_socios_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_socio_no_enviado_a_aprobacion</targetReference>
            </connector>
            <label>Socio no enviado a aprobacion</label>
        </rules>
        <rules>
            <name>En_proceso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todos_los_socios_aprobados.Decision_Final__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todos_los_socios_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_en_proceso</targetReference>
            </connector>
            <label>En proceso</label>
        </rules>
        <rules>
            <name>Rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todos_los_socios_aprobados.Decision_Final__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todos_los_socios_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Rechazado</targetReference>
            </connector>
            <label>Rechazado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Final_Socios</name>
        <label>Decisión Final</label>
        <locationX>534</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Comprobamos_si_est_n_todos_los_socios_aprobados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>En_proceso_final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En proceso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_EN_PROCESO_2</targetReference>
            </connector>
            <label>En proceso</label>
        </rules>
        <rules>
            <name>Rechazado_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_RECHAZADO</targetReference>
            </connector>
            <label>Rechazado</label>
        </rules>
        <rules>
            <name>No_enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDecisionFinalSocios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_NO_ENVIADO_1</targetReference>
            </connector>
            <label>No enviado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Final_Subcontratas</name>
        <label>Decision Final Subcontratas</label>
        <locationX>646</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Decisi_n_Final_Subcontratas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aprobado</defaultConnectorLabel>
        <rules>
            <name>No_enviado_sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_no_enviado_sub</targetReference>
            </connector>
            <label>No enviado</label>
        </rules>
        <rules>
            <name>En_proceso_sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados.Decision_Final__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_en_proceso_sub</targetReference>
            </connector>
            <label>En proceso</label>
        </rules>
        <rules>
            <name>Rechazado_sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados.Decision_Final__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados.Solicitar_aprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vDecisionFinalSubcontratas</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No enviado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Rechazado_Sub</targetReference>
            </connector>
            <label>Rechazado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_socios_creados</name>
        <label>¿Hay socios creados?</label>
        <locationX>278</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Error_socios_creados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_socios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumSocios</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumamos_Socio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Socios</name>
        <label>Socios</label>
        <locationX>492</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Subcontratas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Participacion_Ayesa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UTE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOCIO_Obtener_tipo_de_registro</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subcontratas</name>
        <label>Subcontratas</label>
        <locationX>492</locationX>
        <locationY>2423</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subcontrataciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Aprobacion_Borrador_Acuerdo_de_Socios__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUBCONTRATA_Obtener_tipo_de_registro</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subcontratas_creadas</name>
        <label>Subcontratas creadas</label>
        <locationX>294</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Error_subcontratas_no_creadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_subcontratas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumSubcontrata</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suma_socios</name>
        <label>Suma socios</label>
        <locationX>114</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Suma_socios_por</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es 100</defaultConnectorLabel>
        <rules>
            <name>Igual_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPorcentajeSocios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comprobamos_si_est_n_todos_los_socios_aprobados</targetReference>
            </connector>
            <label>Igual 100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Comprobación aprobacion Oportunidad-Socio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Comprobación aprobacion Oportunidad-Socio</label>
    <loops>
        <name>Comprobamos_si_est_n_todas_las_subcontratas_aprobados</name>
        <label>Comprobamos si están todas las subcontratas aprobados</label>
        <locationX>162</locationX>
        <locationY>2963</locationY>
        <collectionReference>Obtenemos_Subcontratas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Final_Subcontratas</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Comprobamos_si_est_n_todos_los_socios_aprobados</name>
        <label>Comprobamos si están todos los socios aprobados</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <collectionReference>Obtenemos_Socios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_final</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Subcontratas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sumamos_Socio</name>
        <label>Sumamos % Socio</label>
        <locationX>114</locationX>
        <locationY>863</locationY>
        <collectionReference>Obtenemos_Socios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Suma</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Suma_participacion_oportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenemos_Socios</name>
        <label>Obtenemos Socios</label>
        <locationX>278</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sumatorio_de_socios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOCIO_Obtener_tipo_de_registro.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Oportunidad_Competidor_Socio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtenemos_Subcontratas</name>
        <label>Obtenemos Subcontratas</label>
        <locationX>294</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Suma_subcontratas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUBCONTRATA_Obtener_tipo_de_registro.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Oportunidad_Competidor_Socio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SOCIO_Obtener_tipo_de_registro</name>
        <label>SOCIO Obtener tipo de registro</label>
        <locationX>278</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenemos_Socios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Socio</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidad_Competidor_Socio__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SUBCONTRATA_Obtener_tipo_de_registro</name>
        <label>SUBCONTRATA Obtener tipo de registro</label>
        <locationX>294</locationX>
        <locationY>2531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenemos_Subcontratas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Subcontrata</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oportunidad_Competidor_Socio__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>366</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Socios</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oferta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pte. Aprobación</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>250</triggerOrder>
    <variables>
        <name>vDecisionFinalSocios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDecisionFinalSubcontratas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumSocios</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumSubcontrata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPorcentajeSocios</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
