force-app/main/default/flows/Opportunity_Socio_Aprobaci_n_Responsable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_alerta_propietario_Socio</name>
        <label>Enviar alerta propietario Socio</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>Tarea_aprobacion__c.Socio_Aviso_aprobacion_responsable</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion_socio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Socio_Aviso_aprobacion_responsable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_alerta_propietario_Subcontrata</name>
        <label>Enviar alerta propietario Subcontrata</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>Tarea_aprobacion__c.Subcontrata_Aviso_aprobacion_responsable</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion_Subcontratas</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tarea_aprobacion__c.Subcontrata_Aviso_aprobacion_responsable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_aprobacion_Socio</name>
        <label>Enviar aprobacion Socio</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Socio_Obtener_Id_Aprobacion_ProcessInstanceWorkItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion_socio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Socio_Aprobacion_responsable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enviar_aprobacion_Subcontrata</name>
        <label>Enviar aprobacion Subcontrata</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Subcontrata_Obtener_Id_Aprobacion_ProcessInstanceWorkItem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Crear_tarea_aprobacion_Subcontratas</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Subcontrata_Aprobacion_responsable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Comprobacion_propietario</name>
        <label>Comprobación propietario</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Propietario_informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_responsable</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_registro</targetReference>
            </connector>
            <label>Propietario informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_registro</name>
        <label>Tipo de registro</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Crear_tarea_aprobacion_Subcontratas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subcontrata</defaultConnectorLabel>
        <rules>
            <name>Socio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadSocio.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Socio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_tarea_aprobacion_socio</targetReference>
            </connector>
            <label>Socio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity-Socio: Aprobación Responsable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity-Socio: Aprobación Responsable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_aprobacion_socio</name>
        <label>Crear tarea aprobacion Socios</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Enviar_aprobacion_Socio</targetReference>
        </connector>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación Socio {!vResponsable} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Id_oportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_responsable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Socio__c</field>
            <value>
                <elementReference>OportunidadSocio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Socios</stringValue>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_tarea_aprobacion_Subcontratas</name>
        <label>Crear tarea aprobacion Subcontratas</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Enviar_aprobacion_Subcontrata</targetReference>
        </connector>
        <inputAssignments>
            <field>Decision__c</field>
            <value>
                <stringValue>En proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_solicitud__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Aprobación Subcontrata {!vResponsable} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Id_oportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Id_responsable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontrata__c</field>
            <value>
                <elementReference>OportunidadSocio.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Subcontratas</stringValue>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Socio_Obtener_Id_Aprobacion_ProcessInstanceWorkItem</name>
        <label>Socio: Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enviar_aprobacion_Socio.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subcontrata_Obtener_Id_Aprobacion_ProcessInstanceWorkItem</name>
        <label>Subcontrata: Obtener Id Aprobacion ProcessInstanceWorkItem</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Id_aprobacion_subcontrata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enviar_aprobacion_Subcontrata.instanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Id_aprobacion</name>
        <label>Actualizar Id aprobacion</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Enviar_alerta_propietario_Socio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_aprobacion_socio</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Socio_Obtener_Id_Aprobacion_ProcessInstanceWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Id_aprobacion_subcontrata</name>
        <label>Actualizar Id aprobacion subcontrata</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Enviar_alerta_propietario_Subcontrata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crear_tarea_aprobacion_Subcontratas</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_proceso_aprobacion__c</field>
            <value>
                <elementReference>Subcontrata_Obtener_Id_Aprobacion_ProcessInstanceWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Tarea_aprobacion__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobacion_propietario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_oportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_responsable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OportunidadSocio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Oportunidad_Competidor_Socio__c</objectType>
    </variables>
    <variables>
        <name>vResponsable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
