force-app/main/default/flows/Opportunity_Referencia_Comercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actualizar_referencia_APEX</name>
        <label>Actualizar referencia APEX</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CRM_IB_Update_ReferenciaComercial</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Id_ref</name>
            <value>
                <elementReference>$Record.Referencia_Comercial_lookup__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRM_IB_Update_ReferenciaComercial</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decisi_n_1</name>
        <label>Referencia comercial</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Nada</defaultConnectorLabel>
        <rules>
            <name>Crear</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Referencia_Comercial__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sí</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial_lookup__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Referencia_Comercial</targetReference>
            </connector>
            <label>Crear</label>
        </rules>
        <rules>
            <name>Actualizar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No, porque ya existe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referencia_Comercial_lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_referencia_APEX</targetReference>
            </connector>
            <label>Actualizar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Referencia Comercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Referencia Comercial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Referencia_Comercial</name>
        <label>Crear Referencia Comercial</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>actualizar_oc</targetReference>
        </connector>
        <inputAssignments>
            <field>Area_Tecnologia__c</field>
            <value>
                <elementReference>$Record.Area_Tecnologia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPV_varios__c</field>
            <value>
                <elementReference>$Record.CPV_varios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clic_comercial__c</field>
            <value>
                <elementReference>$Record.Cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Record.Fecha_estimada_de_cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_acumulado__c</field>
            <value>
                <elementReference>$Record.Importe_total_sin_IVA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Referencia_Comercial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>actualizar_oc</name>
        <label>actualizar oc</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Referencia_Comercial_lookup__c</field>
            <value>
                <elementReference>Crear_Referencia_Comercial</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decisi_n_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ayesa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referencia_Comercial__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Etapa__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
