force-app/main/default/flows/Opportunity_Tipificacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignaci_n_Mercado_y_Division</name>
        <label>Asignación Mercado y División</label>
        <locationX>2440</locationX>
        <locationY>6239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Mercado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_divisiones_parametrica.Mercado_lookup__r.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DivisionPicklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_divisiones_parametrica.Valor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subdivision1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subsector_de_Mercado_alta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrica_IB_Obtener_Id_Record_Type_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_CR_por_defecto</name>
        <label>Asignar CR por defecto</label>
        <locationX>2440</locationX>
        <locationY>6563</locationY>
        <assignmentItems>
            <assignToReference>$Record.CR_Super__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Obtener_CR_por_defecto.Centro_resp_Super__c} -- {!Obtener_CR_por_defecto.Codigo_CR__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_oc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_responsables</name>
        <label>Asignar responsables</label>
        <locationX>2594</locationX>
        <locationY>8087</locationY>
        <assignmentItems>
            <assignToReference>$Record.Director_de_Mercado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorMercadoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Director_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorDivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Director_Pais__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorPais</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Director_Internacional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorInternacional</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Direccion_Financiera_Corporativa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDireccionFinancieraCorp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Responsable_linea_de_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vResponsableLineaServicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.COO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vCOO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CMO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vCMO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Director_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorCompliance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Director_Global_de_QA_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vDirectorQA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CSO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vCSO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Responsable_Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vResponsablePreventa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Responsable_AJI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vAsesoriaJuridica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vBUManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Authorised_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vAuthorisedOfficer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Auxiliar_Delivery_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vAuxiliarDC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Auxiliar_Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcular_responsables.vAuxPreventa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Sector_mercado_Alta</name>
        <label>Asignar Sector mercado Alta</label>
        <locationX>2462</locationX>
        <locationY>5831</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sector_de_Mercados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DivisionPicklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subdivision1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subsector_de_Mercado_alta__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Big_deal</name>
        <label>Big deal</label>
        <locationX>2011</locationX>
        <locationY>5147</locationY>
        <assignmentItems>
            <assignToReference>$Record.Oportunidad_estrategica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bigdeal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bloqueo_false</name>
        <label>Bloqueo = false</label>
        <locationX>2682</locationX>
        <locationY>7379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bloqueada_importe_Horizontal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_en_la_linea_de_servicio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bloqueo_true</name>
        <label>Bloqueo = true</label>
        <locationX>2308</locationX>
        <locationY>6887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bloqueada_importe_Horizontal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_total_ofertado_Importe_Licitacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_objetivos</name>
        <label>Contar objetivos</label>
        <locationX>1436</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Num_objetivos_recuperados</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_Objetivos_del_cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objetivos_recuperados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contar_visitas</name>
        <label>Contar visitas</label>
        <locationX>809</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Num_visitas_recuperadas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtener_visitas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visitas_recuperadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Asignar_CR_por_defecto</name>
        <label>Copia 1 de Asignar CR por defecto</label>
        <locationX>2462</locationX>
        <locationY>7787</locationY>
        <assignmentItems>
            <assignToReference>$Record.CR_Super__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Obtener_CR_por_defecto.Centro_resp_Super__c} -- {!Obtener_CR_por_defecto.Codigo_CR__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcular_responsables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Tipo_Oportunidad_B2_y_preventa_S</name>
        <label>Tipo Oportunidad B2 y preventa Sí</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_1_de_Tipo_Oportunidad_B3_y_preventa_No</name>
        <label>Tipo Oportunidad B3 y preventa No</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_Copia_2_de_Importe_Linea_Servicio_OC</name>
        <label>Importe Linea Servicio OC</label>
        <locationX>2605</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_importe_Tipificacion_y_Linea_de_servicio.Importe_B4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_4_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_Copia_2_de_Importe_Linea_Servicio_Padre</name>
        <label>Importe Linea Servicio Padre</label>
        <locationX>2341</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matriz_Obtener_importe_Tipificacion_y_L_nea_de_servicio.Importe_B4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_4_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_Importe_Linea_Servicio_OC</name>
        <label>Importe Linea Servicio OC</label>
        <locationX>2077</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_importe_Tipificacion_y_Linea_de_servicio.Importe_B3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_5_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_Importe_Linea_Servicio_Padre</name>
        <label>Importe Linea Servicio Padre</label>
        <locationX>1813</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matriz_Obtener_importe_Tipificacion_y_L_nea_de_servicio.Importe_B3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_5_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_No_Preventa</name>
        <label>No Preventa</label>
        <locationX>1549</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_2_de_Preventa</name>
        <label>Preventa</label>
        <locationX>1285</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_4_de_No_Preventa</name>
        <label>No Preventa</label>
        <locationX>2605</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_4_de_Preventa</name>
        <label>Preventa</label>
        <locationX>2341</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_5_de_No_Preventa</name>
        <label>No Preventa</label>
        <locationX>2077</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copia_5_de_Preventa</name>
        <label>Preventa</label>
        <locationX>1813</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Importe_5_M_eur</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_Linea_Servicio_OC</name>
        <label>Importe Linea Servicio OC</label>
        <locationX>1549</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_importe_Tipificacion_y_Linea_de_servicio.Importe_B1_B2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_Linea_Servicio_Padre</name>
        <label>Importe Linea Servicio Padre</label>
        <locationX>1285</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>vImporte_Linea_Servicio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Matriz_Obtener_importe_Tipificacion_y_L_nea_de_servicio.Importe_B1_B2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Importe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Importe_total_ofertado_Importe_Licitacion</name>
        <label>Importe total ofertado = Importe Licitacion</label>
        <locationX>2440</locationX>
        <locationY>7079</locationY>
        <assignmentItems>
            <assignToReference>$Record.Importe_total_sin_IVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Importe_Licitacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Bloqueo_Oportunidad_por_importe_horizontal_comparado_Importe_suma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nombre_Corto</name>
        <label>Nombre Corto</label>
        <locationX>2462</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Nombre_Corto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipificacion_Tipo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Numero_visitas_recuperadas</name>
        <label>Numero visitas recuperadas</label>
        <locationX>1194</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>vAuxContarVisitas</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obtenemos_visitas_del_objetivo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suma_Visitas_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preventa</name>
        <label>Preventa</label>
        <locationX>2011</locationX>
        <locationY>5447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cambio_en_el_sector_de_mercado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_importes_de_las_OC_obtenidad</name>
        <label>Suma importes de las OC obtenidad</label>
        <locationX>2682</locationX>
        <locationY>3947</locationY>
        <assignmentItems>
            <assignToReference>vImporteTotalExtensiones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>para_cada_OC.Importe_Licitacion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>para_cada_OC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Suma_Visitas_bucle</name>
        <label>Suma Visitas bucle</label>
        <locationX>1194</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>vNumVisitas_objetivo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAuxContarVisitas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Para_cada_objetivo_buscamos_visitas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_de_Oportunidad_B1</name>
        <label>Tipo de Oportunidad B1 y Preventa Si</label>
        <locationX>842</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B2</name>
        <label>Tipo Oportunidad B2 y Preventa Sí</label>
        <locationX>1634</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B2_2</name>
        <label>Tipo Oportunidad B2 y preventa Sí</label>
        <locationX>578</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B3</name>
        <label>Tipo Oportunidad B3 y preventa No</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copia_1_de_Estado_de_madurez</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B3_2</name>
        <label>Tipo Oportunidad B3 y preventa No</label>
        <locationX>1898</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B3_3</name>
        <label>Tipo Oportunidad B3 y preventa No</label>
        <locationX>1370</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B3_4</name>
        <label>Tipo Oportunidad B3 y preventa No</label>
        <locationX>1106</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tipo de Oportunidad B4 Renovaciones y Preventa  No</description>
        <name>Tipo_Oportunidad_B4</name>
        <label>Tipo Oportunidad B4 y Preventa No</label>
        <locationX>2162</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Preventa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Oportunidad_B5</name>
        <label>Tipo Oportunidad B5 y Preventa ¿?</label>
        <locationX>2426</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tipo_Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_extension</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bigdeal</name>
        <label>Big deal</label>
        <locationX>2143</locationX>
        <locationY>5339</locationY>
        <defaultConnector>
            <targetReference>Cambio_en_el_sector_de_mercado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Importe_OC_Importe_tipificacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Obtener_importe_Tipificacion_y_Linea_de_servicio.Importe_Big_Deal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidad_estrategica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preventa</targetReference>
            </connector>
            <label>Importe OC &gt; Importe tipificacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bloqueo_Oportunidad_por_importe_horizontal</name>
        <label>Bloqueo Oportunidad por importe horizontal comparado Importe suma</label>
        <locationX>2440</locationX>
        <locationY>6779</locationY>
        <defaultConnector>
            <targetReference>Importe_total_ofertado_Importe_Licitacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No bloqueo</defaultConnectorLabel>
        <rules>
            <name>Bloqueo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vImporteTotalExtensiones</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Obtener_Horizontal_e_importe_limite.Importe_limite_Horizontal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cliente__r.Clase_de_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bloqueo_true</targetReference>
            </connector>
            <label>Bloqueo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_en_el_sector_de_mercado</name>
        <label>Cambio en el sector de mercado</label>
        <locationX>2594</locationX>
        <locationY>5723</locationY>
        <defaultConnector>
            <targetReference>Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DivisionPicklist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Sector_mercado_Alta</targetReference>
            </connector>
            <label>Cambio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_en_la_linea_de_servicio</name>
        <label>Cambio en la línea de servicio</label>
        <locationX>2594</locationX>
        <locationY>7571</locationY>
        <defaultConnector>
            <targetReference>Calcular_responsables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Linea_de_Servicio__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Obtener_CR_por_defecto</targetReference>
            </connector>
            <label>Cambia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Bloqueo_Oportunidad_por_importe_horizontal_comparado_Importe_suma</name>
        <label>Copia 1 de Bloqueo Oportunidad por importe horizontal comparado Importe suma</label>
        <locationX>2594</locationX>
        <locationY>7271</locationY>
        <defaultConnector>
            <targetReference>Bloqueo_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No bloqueo</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Bloqueo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vImporteTotalExtensiones</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Obtener_Horizontal_e_importe_limite.Importe_limite_Horizontal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cliente__r.Clase_de_cuenta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambio_en_la_linea_de_servicio</targetReference>
            </connector>
            <label>Copia 1 de Bloqueo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Estado_de_madurez</name>
        <label>Estado de madurez</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Tipo_Oportunidad_B3_y_preventa_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Inter_s_contrastado_con_el_cliente_o_generado_por_nosotros</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés contrastado del cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés generado por nosotros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Tipo_Oportunidad_B2_y_preventa_S</targetReference>
            </connector>
            <label>Interés contrastado con el cliente o generado por nosotros</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Importe</name>
        <label>Importe</label>
        <locationX>1417</locationX>
        <locationY>4655</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_No_Preventa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Importe_OC_Importe_tipificacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vImporte_Linea_Servicio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Preventa</targetReference>
            </connector>
            <label>Importe OC &gt; Importe tipificacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_1_de_Tipificacion</name>
        <label>Tipificacion</label>
        <locationX>2594</locationX>
        <locationY>4139</locationY>
        <defaultConnector>
            <targetReference>Cambio_en_el_sector_de_mercado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Copia_1_de_Automatica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipificacion_Manual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipificacion</targetReference>
            </connector>
            <label>Automatica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_2_de_Copia_2_de_Extension</name>
        <label>¿Extension?</label>
        <locationX>2473</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_Copia_2_de_Importe_Linea_Servicio_OC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_Copia_2_de_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Copia_2_de_Importe_Linea_Servicio_Padre</targetReference>
            </connector>
            <label>Copia 2 de Copia 2 de Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_2_de_Extension</name>
        <label>¿Extension?</label>
        <locationX>1945</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Copia_2_de_Importe_Linea_Servicio_OC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copia_2_de_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Importe_Linea_Servicio_Padre</targetReference>
            </connector>
            <label>Copia 2 de Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_4_de_Importe</name>
        <label>Importe</label>
        <locationX>2473</locationX>
        <locationY>4655</locationY>
        <defaultConnector>
            <targetReference>Copia_4_de_No_Preventa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_4_de_Importe_OC_Importe_tipificacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vImporte_Linea_Servicio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_4_de_Preventa</targetReference>
            </connector>
            <label>Importe OC &gt; Importe tipificacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copia_5_de_Importe</name>
        <label>Importe</label>
        <locationX>1945</locationX>
        <locationY>4655</locationY>
        <defaultConnector>
            <targetReference>Copia_5_de_No_Preventa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Copia_5_de_Importe_OC_Importe_tipificacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Importe_Licitacion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vImporte_Linea_Servicio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_5_de_Preventa</targetReference>
            </connector>
            <label>Importe OC &gt; Importe tipificacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create</name>
        <label>Create</label>
        <locationX>2594</locationX>
        <locationY>6023</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Bloqueo_Oportunidad_por_importe_horizontal_comparado_Importe_suma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_divisiones_parametrica</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direccion_de_operaciones</name>
        <label>Dirección de operaciones</label>
        <locationX>1955</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Tipo_Oportunidad_B5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ING</defaultConnectorLabel>
        <rules>
            <name>IT_DS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT&amp;DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INNOVATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Negocio</targetReference>
            </connector>
            <label>IT&amp;DS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_de_madurez</name>
        <label>Estado de madurez</label>
        <locationX>1766</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Tipo_Oportunidad_B3_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Licitación o RFP</defaultConnectorLabel>
        <rules>
            <name>Interes_contra</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés contrastado del cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés generado por nosotros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Oportunidad_B2</targetReference>
            </connector>
            <label>Interés contrastado o generado por nosotros</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_de_madurez_2</name>
        <label>Estado de madurez</label>
        <locationX>842</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Tipo_Oportunidad_B3_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Interes_contrastado_con_el_cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés contrastado del cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Oportunidad_B2_2</targetReference>
            </connector>
            <label>Interés contrastado con el cliente</label>
        </rules>
        <rules>
            <name>Interes_generado_por_nosotros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interés generado por nosotros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Oportunidad_B1</targetReference>
            </connector>
            <label>Interés generado por nosotros</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extension</name>
        <label>¿Extension?</label>
        <locationX>1417</locationX>
        <locationY>4355</locationY>
        <defaultConnector>
            <targetReference>Importe_Linea_Servicio_OC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiExtension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Importe_Linea_Servicio_Padre</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Importe_5_M_eur</name>
        <label>Importe &gt; 5 M eur</label>
        <locationX>2143</locationX>
        <locationY>5039</locationY>
        <defaultConnector>
            <targetReference>Bigdeal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_mayor5M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vImporteTotalExtensiones</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Big_deal</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nombre_corto_It</name>
        <label>Nombre corto It</label>
        <locationX>2594</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Tipificacion_Tipo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direccion_Operaciones__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ENGINEERING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nombre_Corto</targetReference>
            </connector>
            <label>IT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objetivos_recuperados</name>
        <label>Objetivos recuperados</label>
        <locationX>1436</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Estado_de_madurez</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay objetivos</defaultConnectorLabel>
        <rules>
            <name>Hay_objetivos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_numero_objetivos</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Para_cada_objetivo_buscamos_visitas</targetReference>
            </connector>
            <label>Hay objetivos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es extension recuperamos de la oportunidad matriz los datos</description>
        <name>Oportunidad_extension</name>
        <label>¿Oportunidad extensión?</label>
        <locationX>2594</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Obtener_importe_Tipificacion_y_Linea_de_servicio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matriz_Obtener_importe_Tipificacion_y_L_nea_de_servicio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>2322</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Oportunidad_extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Ayesa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayesa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direccion_de_operaciones</targetReference>
            </connector>
            <label>Ayesa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipificacion</name>
        <label>Tipificación</label>
        <locationX>2143</locationX>
        <locationY>4247</locationY>
        <defaultConnector>
            <targetReference>Importe_5_M_eur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>B1_B2</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension</targetReference>
            </connector>
            <label>B1 B2</label>
        </rules>
        <rules>
            <name>B3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Extension</targetReference>
            </connector>
            <label>B3</label>
        </rules>
        <rules>
            <name>B4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_Oportunidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Copia_2_de_Extension</targetReference>
            </connector>
            <label>B4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipificacion_Tipo</name>
        <label>Tipificacion</label>
        <locationX>2594</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Oportunidad_extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual</defaultConnectorLabel>
        <rules>
            <name>Automatica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipificacion_Manual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Automatica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Negocio</name>
        <label>Tipo de Negocio</label>
        <locationX>1485</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Tipo_Oportunidad_B4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NC</defaultConnectorLabel>
        <rules>
            <name>NN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Negocio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automatic Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Negocio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recurrent Extension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Negocio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Extension or variation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_visitas</targetReference>
            </connector>
            <label>NN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Visitas_de_objetivos_recuperadas</name>
        <label>Visitas de objetivos recuperadas</label>
        <locationX>1106</locationX>
        <locationY>2435</locationY>
        <defaultConnector>
            <targetReference>Tipo_Oportunidad_B3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>El objetivo no tiene visitas</defaultConnectorLabel>
        <rules>
            <name>El_objetivo_tiene_visitas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_numero_visitas_objetivo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_de_madurez_2</targetReference>
            </connector>
            <label>El objetivo tiene visitas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Visitas_recuperadas</name>
        <label>Visitas recuperadas</label>
        <locationX>809</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Obtener_Objetivos_del_cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay visitas</defaultConnectorLabel>
        <rules>
            <name>Hay_visitas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_numero_visitas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Oportunidad_B3</targetReference>
            </connector>
            <label>Hay visitas</label>
        </rules>
    </decisions>
    <description>Se elimina la condicion inicial de RecordType = Ayesa</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_numero_objetivos</name>
        <dataType>Number</dataType>
        <expression>{!Num_objetivos_recuperados}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_numero_visitas</name>
        <dataType>Number</dataType>
        <expression>{!Num_visitas_recuperadas}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_numero_visitas_objetivo</name>
        <dataType>Number</dataType>
        <expression>{!vNumVisitas_objetivo}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vFechaDesde</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),-3)</expression>
    </formulas>
    <formulas>
        <name>vFechaHasta</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <formulas>
        <name>vIsCreate</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity: Tipificación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Tipificación</label>
    <loops>
        <name>Para_cada_objetivo_buscamos_visitas</name>
        <label>Para cada objetivo buscamos visitas</label>
        <locationX>1106</locationX>
        <locationY>1919</locationY>
        <collectionReference>Obtener_Objetivos_del_cliente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtenemos_visitas_del_objetivo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Visitas_de_objetivos_recuperadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>para_cada_OC</name>
        <label>para cada OC</label>
        <locationX>2594</locationX>
        <locationY>3839</locationY>
        <collectionReference>Obtener_extensiones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Suma_importes_de_las_OC_obtenidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copia_1_de_Tipificacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copia_1_de_Obtener_CR_por_defecto</name>
        <label>Copia 1 de Obtener CR por defecto</label>
        <locationX>2462</locationX>
        <locationY>7679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_Asignar_CR_por_defecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parametrica_IB_Obtener_Id_Record_Type_CR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Por_defecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Horizontal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linea_de_Servicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Matriz_Obtener_importe_Tipificacion_y_L_nea_de_servicio</name>
        <label>Obtener importe Tipificacion y Línea de servicio oportu Matriz</label>
        <locationX>2462</locationX>
        <locationY>3539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_extensiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parametrica_Obtener_Id_Record_Type_EstructuraOrg.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad_Relacionada__r.Delivery_Center__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtenemos_visitas_del_objetivo</name>
        <label>Obtenemos visitas del objetivo</label>
        <locationX>1194</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Numero_visitas_recuperadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Objetivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Para_cada_objetivo_buscamos_visitas.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vFechaDesde</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vFechaHasta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_CR_por_defecto</name>
        <label>Obtener CR por defecto</label>
        <locationX>2440</locationX>
        <locationY>6455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_CR_por_defecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parametrica_IB_Obtener_Id_Record_Type_CR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Por_defecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Horizontal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linea_de_Servicio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_divisiones_parametrica</name>
        <label>Obtener divisiones parametrica</label>
        <locationX>2440</locationX>
        <locationY>6131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignaci_n_Mercado_y_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>División</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sector_de_Mercados__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_extensiones</name>
        <label>Obtener extensiones</label>
        <locationX>2594</locationX>
        <locationY>3731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>para_cada_OC</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 4) OR 3</filterLogic>
        <filters>
            <field>Oportunidad_Relacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidad_Relacionada__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_Extension__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extensión Rectificativa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Oportunidad_Relacionada__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Horizontal_e_importe_limite</name>
        <label>Obtener Horizontal e importe límite PARAMETRICA</label>
        <locationX>2594</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nombre_corto_It</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parametrica_Obtener_Id_Record_Type_EstructuraOrg.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Valor__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Delivery_Center__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_importe_Tipificacion_y_Linea_de_servicio</name>
        <label>Obtener importe Tipificacion y Línea de servicio</label>
        <locationX>2726</locationX>
        <locationY>3539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_extensiones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parametrica_Obtener_Id_Record_Type_EstructuraOrg.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maestro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Delivery_Center__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametrica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Objetivos_del_cliente</name>
        <label>Obtener Objetivos con el cliente de la oportunidad</label>
        <locationX>1436</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_objetivos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Objetivo__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las visitas relacionadas con el cliente de la oportunidad</description>
        <name>Obtener_visitas</name>
        <label>Obtener visitas con el cliente de la oportunidad</label>
        <locationX>809</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_visitas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clic_comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>vFechaDesde</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>vFechaHasta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parametrica_IB_Obtener_Id_Record_Type_CR</name>
        <label>Parametrica  IB : Obtener Id Record Type CR</label>
        <locationX>2440</locationX>
        <locationY>6347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_CR_por_defecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Centro Responsabilidad</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parametrica_Obtener_Id_Record_Type_EstructuraOrg</name>
        <label>Parametrica: Obtener Id Record Type Estructura Org</label>
        <locationX>2594</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Horizontal_e_importe_limite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estructura Organizativa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_oc</name>
        <label>Actualizar oc</label>
        <locationX>2440</locationX>
        <locationY>6671</locationY>
        <connector>
            <targetReference>Bloqueo_Oportunidad_por_importe_horizontal</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Oportunidad</name>
        <label>Actualizar Oportunidad</label>
        <locationX>2594</locationX>
        <locationY>8195</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2468</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parametrica_Obtener_Id_Record_Type_EstructuraOrg</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cualificación con autoprovisión</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subfase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cualificación con preventa</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calcular_responsables</name>
        <label>Calcular responsables</label>
        <locationX>2594</locationX>
        <locationY>7979</locationY>
        <connector>
            <targetReference>Asignar_responsables</targetReference>
        </connector>
        <flowName>Opportunity_Obtener_Responsables</flowName>
        <inputAssignments>
            <name>IdOpportunity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Num_objetivos_recuperados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Num_visitas_recuperadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vAuxContarVisitas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vImporte_Linea_Servicio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vImporteTotalExtensiones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNumVisitas_objetivo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
