force-app/main/default/flows/Proyecto_Soporte_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>False</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>ProyectoSoporte</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aContract</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Proyecto Soporte Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proyecto Soporte Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar</name>
        <label>Buscar</label>
        <locationX>210</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProyectoSoporte2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Caso.Aprobador__c</assignToReference>
            <field>Aprobador__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Caso.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Caso.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Caso.ProyectoOrigen__c</assignToReference>
            <field>ProyectoOrigen__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Caso.Proyecto__c</assignToReference>
            <field>Proyecto__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProyectoSoporte2</name>
        <label>ProyectoSoporte2</label>
        <locationX>378</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CambiarCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProyectoSoporte</elementReference>
            </value>
        </filters>
        <object>Proyecto__c</object>
        <outputAssignments>
            <assignToReference>Proyecto.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Proyecto.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>CambiarCaso</name>
        <label>CambiarCaso</label>
        <locationX>548</locationX>
        <locationY>188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aprobador__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Informar_a_Soporte__c</field>
            <value>
                <elementReference>False</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Caso.Aprobador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProyectoOrigen__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Proyecto__c</field>
            <value>
                <elementReference>Caso.ProyectoOrigen__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Proyecto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proyecto__c</objectType>
    </variables>
</Flow>
