force-app/main/default/flows/Tarea_actualizar_what_id_con_cuenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_clic_comercial_a_what_id</name>
        <label>Asignar clic comercial a what id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clic_comercial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>what_id_clic_comercial</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Tarea actualizar what id con cuenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tarea actualizar what id con cuenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>what_id_clic_comercial</name>
        <label>what id = clic comercial</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Clic_comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_clic_comercial_a_what_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Clic_comercial__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
